* {
    color: #000 !important;
    border: 0 !important
}

body,
.layout-container,
.news-body-in,
.press-teaser,
.press-body,
.hero-inner,
.gung-news,
.hero-no-image,
.hero-news,
.pane-page-logo,
.press-docs,
.press-contact-info,
.results,
.results-head,
.results-list {
    background: 0 !important;
    height: auto !important;
    min-height: 0 !important;
    max-height: 100% !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: 100% !important;
    padding: initial !important;
    margin: initial !important;
    float: none !important;
    text-align: left !important;
    position: relative !important;
    left: auto !important;
    top: auto !important;
    overflow: hidden
}

body,
.layout-container {
    background: #fff;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 18px
}

a:link,
a:visited {
    text-decoration: underline
}

.layout-container a:link:after,
.layout-container a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%
}

.gung-universal-navigation .l-header.gung-header .l-region--header .pane-ny-gov-global-menu,
#expand-menu-mobile {
    display: none
}

#gung-universal-navigation,
.gung-universal-navigation {
    display: none
}

.panel-pane,
.pane-page-logo {
    display: none
}

.l-region--header .gung-universal-navigation,
.gung-universal-navigation {
    display: block !important
}

.gung-global-header {
    background-color: #fff;
    height: 50px
}

.gung-global-header h1 {
    display: inline-block !important;
    color: #000;
    padding: 0 !important
}

.gung-global-header h1 a {
    padding: 0 !important
}

.gung-global-header .nav-toggle {
    display: none
}

.gung-global-header ul {
    display: none !important
}

.nys-global-header,
.results-image,
.results form.views-exposed-form {
    display: none
}

.gung-logo {
    display: inline-block;
    width: 100px
}

.hero-layout h1,
.hero-layout h2 {
    color: #000;
    font-size: 20px;
    line-height: 30px
}

.hero-layout .hero-header {
    background: none;
    color: #000
}

.hero-layout .hero-has-image {
    background-color: #fff
}

.hero-layout .hero-has-image .hero-bkg {
    background: none !important
}

.hero-layout .hero-published-date,
.hero-layout .hero-location {
    color: #000
}

.hero-layout .hero-inner {
    width: 100%
}

.hero-layout .hero-inner .hero-keywords {
    display: none
}

.document-wrapper {
    border: none !important
}

.document-wrapper .icon-document {
    display: inline-block;
    padding: 0;
    margin: 0
}

.document-wrapper .download {
    display: none
}

body {
    margin: 1cm 2cm !important
}

@page :right {
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages)
    }
}