// Container is the segment for the footer, taking it to the right.
// Inner container makes sure it lines up with the main content.
#block-footercomplaint,
#after-content {
    width: 66%;
    margin: 0 auto 30px 27%;
    padding: 25px;
    background-color: #e5eeee;
    @media (max-width: 1280px) {
        width: 57%;
        margin-left: 33%;
    }
    @media (max-width: 1024px) {
        margin-left: 10%;
        width: 76%;
    }
    @media (max-width: 480px) {
        width: 66%;
    }
}

.gung-footer-inner-container {
    margin: 30px 80px 60px 80px;
    padding: 25px;
    background-color: #09464c;
}

#after-content h2,
#block-footercomplaint h2,
.gung-footer-title {
    color: #09464c;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    @media (max-width: 480px) {
        font-size: 32px;
        text-align: center;
        line-height: 1em;
    }
}

#after-content p,
#block-footercomplaint p {
    @media (max-width: 480px) {
        text-align: center;
    }
}

// Creates the green buttons out of links in the footer, also used in certain pages.
.gung-footer-link {
    display: inline-block;
    border: none;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 45px;
    margin-bottom: 5px;
    margin-right: 30px;
    background-color: #09464c;
    color: white;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    &:hover {
        background-color: black;
    }
    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 10px;
    }
    a {
        display: inline-block;
        padding-top: 9px;
        max-width: 100%;
        max-height: 40px;
        color: white;
        font-family: "Proxima Nova", Arial, sans-serif;
        font-size: 12px;
        &:hover {
            color: white;
            font-weight: normal;
            text-decoration: none;
        }
    }
}