{%
set classes = [
'gung-teaser',
'teaser--type--' ~ node.bundle|clean_class
]
%}


{% block link_direct %}
  {% set link = url %}
{% endblock link_direct %}
<article{{ attributes.addClass(classes) }}>
    <div class="gung-teaser-wrapper">
        {# <a class="gung-teaser-image" href="{{ url }}"> #}
        <a class="gung-teaser-image" href="{{ url }}">
            {% block hero_image %}{% endblock hero_image %}
        </a>
        <div class="gung-teaser-content-wrapper">

          <div class="gung-teaser-content-wrapper__details">
          {# Gives an option for another wrapper under .gung-teaser-content-wrapper__details #}
          {% block optional_wrapper_start %}{% endblock optional_wrapper_start %}
            <div class="gung-teaser-filter-terms">
                {% for k,v in node.field_gung_filter_terms.value %}
                {% if content.field_gung_filter_terms[k] %}
                    
                          {% if loop.last %}
                            {% set separator = '' %}
                          {% else %}
                            {% set separator = ', ' %}
                          {% endif %}
                          {{ content.field_gung_filter_terms[k] }}{{ separator }}
                {% endif %}
            {% endfor %}
            </div>
            <span class="gung-teaser-filter-term-border"></span>
          <div class="gung-teaser-title">
            {% block title %}

            {% endblock title %}

            {# If optional_wrapper_start is utilized, so should this #}
          </div>
          {% block description %}{% endblock description %}
          {% block optional_wrapper_end %}{% endblock optional_wrapper_end %}

          {% block content %}{% endblock content %}
          </div>
          {% block footer %}
            {#{{ content.links }}#}
          {% endblock %}

        </div>
    </div>
</article>
