
<div {{ attributes.addClass('gung-card') }}>

    {% block card_image %}{% endblock card_image %}

    <div class="card-content">
        <div class="card-content-top">
            {%  if not page %}
                {{ title_prefix }}

                <h1{{ title_attributes }}>
                    {% block card_title_url %}{% endblock card_title_url %}
                        {#<a href="{{ url }}" rel="bookmark">#}
                    {% block card_title %}{% endblock card_title %}</a>
                </h1>

                {{ title_suffix }}
            {% endif %}

            {%  block card_footer %}{% endblock card_footer %}
        </div>
        {%  block card_content %}{% endblock card_content %}
        {%  block card_links %}{% endblock card_links %}
    </div>
</div>
