{% extends 'profiles/custom/gung/themes/custom/gung_d8_theme/templates/content/gung--card-base.html.twig' %}

{# setting title variable so it can be used 2x #}
{% set description = content.field_gung_page_description %}
{% if (node.field_gung_page_short_title.value is not empty and node.field_gung_page_short_title.value is not null) %}
    {% set title = content.field_gung_page_short_title %}
{% else %}
    {% set title = node.label %}
{% endif %}

{% block card_image %}
    {% if ( content.field_gung_page_image["#items"] is not empty and
            content.field_gung_page_image["#items"] is not null) %}
            <a href="{{ url }}">
                <div class="card-image" style="background-image: url('{{ file_url(node.field_gung_page_image.entity.field_image.entity.uri.value | image_style('card_vertical')) }}');">
                </div>
            </a>
    {% else %}
        <a href="{{ url }}">
            <div class="card-fallback-image">
                {% include '@gung_d8_theme/includes/NYS_StateOutline.svg.twig' %}
            </div>
        </a>
    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ title | gung_trim_card_title }}
{% endblock card_title %}

{% block card_title_url %}
<a href="{{ url }}" rel="bookmark">
    {% endblock card_title_url %}

    {% block card_footer %}
        {{ content.field_gung_news_date }}
    {% endblock card_footer %}

    {% block card_content %}
        {% if node.field_gung_page_description.value is not empty and node.field_gung_page_description.value is not null %}
            {{ content.field_gung_page_description }}
        {%  else %}
            {{ content.body }}
        {% endif %}
    {% endblock card_content %}
