{% extends 'profiles/custom/gung/themes/custom/gung_d8_theme/templates/content/gung--teaser-base.html.twig' %}

{% block title %}
    {% if (node.field_gung_news_short_title.value is not empty and node.field_gung_news_short_title.value is not null) %}
        {% set title = content.field_gung_news_short_title %}
    {% else %}
        {% set title = node.label %}
    {% endif %}

    <a href="{{ url }}">
        {% if title|length <= 65 %}
            {{ title }}
        {% else %}
            {{ title|slice(0, 65) ~ '...' }}
        {% endif %}
    </a>
{% endblock title %}

{% block hero_image %}
    {% if not content.field_gung_news_image.0 %}
        <div class="list-fallback-img">{{ source('profiles/custom/gung/themes/custom/gung_d8_theme/images/Gung_Newspaper.svg') }}</div>
    {% else %}
        {{ content.field_gung_news_image }}
    {% endif %}
{% endblock hero_image %}

{% block content %}
    {% if (node.field_gung_news_description.value is empty) %}
        <div class="news-date-fieldwrapper no-description">
            <div class="news-listing-date">
                {{ node.field_gung_news_date.value|date("F j, Y") }}
            </div> |
            <div class="news-listing-time">
                {{ node.field_gung_news_date.value|date("g:i A T") }}
            </div>
        </div>
    {% else %}
        <div class="news-date-fieldwrapper">
            <div class="news-listing-date">
                {{ node.field_gung_news_date.value|date("F j, Y") }}
            </div> |
            <div class="news-listing-time">
                {{ node.field_gung_news_date.value|date("g:i A T") }}
            </div>
        </div>
        <div class="news-description-fieldwrapper">
            <div class="news-description-label">{{ content.field_gung_news_description }}</div>
        </div>
    {% endif %}
{% endblock content %}

{% block footer %}
    <ul class="links inline">
        <li class="node-readmore">
            <a href="{{ url }}" rel="tag" title="{{ node.label }}">Learn more<span class="visually-hidden"> about {{ node.label }}</span></a>
        </li>
    </ul>
{% endblock %}