{#
/**
 * @file
 * Theme override to display a node.
 *
 * CREATED BY GUNG -- iojonep, lmurdock, mcase
 * Override theme for attached documents
 * Available variables:
 * https://api.drupal.org/api/drupal/core!modules!node!templates!node.html.twig/8.2.x 
#}

{%
  set docclasses = [
    node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{%
    set absfilepath = file_url(node.field_gung_document_file_upload.entity.uri.value)
%}
{%
    set extfilepath = node.field_gung_document_ext_link.value
%}

{# DEBUG VIA KINT / DEVEL #}

<article{{ attributes.addClass(docclasses) }}>
    {{ title_prefix }}
    
  <div{{ content_attributes.addClass(docclasses,'attdoc-node') }}>

    <ul class="doc-list">
        <li class="document-wrapper">

          <div class="doc-info">
            <div class="fa-document">&nbsp;</div>
            <h4 class="doc-title" {{ title_attributes }}>
                {% if absfilepath != '/' %}
                    <a href="{{ absfilepath }}">{{ label }}</a>
                {% elseif extfilepath %}
                  <a href="{{ extfilepath }}">{{ label }}</a>
                {% else %}
                    {{ label }}
                {% endif %}
            </h4>
            <span class="doc-language">{{ content.field_gung_document_language }}</span>
            <span class="doc-description">{{ content.body }}</span>
          </div><!--end doc-info-->
          

            {% if absfilepath != '/' %}
              <a href="{{ absfilepath }}" class="download-link">
            {% elseif extfilepath %}
              <a href="{{ extfilepath }}" class="download-link">
            {% endif %}
              <div class="download">
                <div class="fa-download">&nbsp;</div>
                <p>Download</p>
              </div>
            </a>
            
        </li><!--end document-wrapper-->
    </ul>
      {{ title_suffix }}
</article>
