{#
 // CONTACT NODE TEMPLATE FOR NEWS PAGES
 // CREATED BY GUNG - LMURDOCK, MCASE, IOJONEP, CCATALINA
 // Start Here: https://www.drupal.org/docs/8/theming
 /**
  *  VAR LIST -- This is only for the "Contact for News" display mode
  *  Name:                  field_gung_contact_name
  *  Professional Title:    field_gung_contact_protitle
  *  Caption:               field_gung_contact_caption
  *  Email (array):         field_gung_contact_email[x]
  *  Fax (array):           field_gung_contact_fax
  *  Office Address:        field_gung_contact_address
  *  Other Details:         field_gung_contact_details
  *  Phone (array):         field_gung_contact_phone
  *  Language Code          node.field_gung_contact_mapdir.0.langcode
  *  Country Code:          node.field_gung_contact_mapdir.0.country_code
  *  State:                 node.field_gung_contact_mapdir.0.administrative_area
  *  Locality/City:         node.field_gung_contact_mapdir.0.locality
  *  Locality:              node.field_gung_contact_mapdir.0.dependent_locality
  *  Postal Code/ ZIP:      node.field_gung_contact_mapdir.0.postal_code
  *  Sorting Code:          node.field_gung_contact_mapdir.0.sorting_code
  *  Address Line 1:        node.field_gung_contact_mapdir.0.address_line1
  *  Address Line 2:        node.field_gung_contact_mapdir.0.address_line2
  *  Organization Name:     node.field_gung_contact_mapdir.0.organization
  *  First Name:            node.field_gung_contact_mapdir.0.given_name
  *  Middle Name:           node.field_gung_contact_mapdir.0.additional_name
  *  Last Name:             node.field_gung_contact_mapdir.0.family_name
  */
 /**
  *
  *  CALLING VARS: https://www.drupal.org/docs/8/theming/twig/functions-in-twig-templates
  *  =============
  *  Single Values:         node.field_name.value
  *  Arrays:                node_field_name[x].value             // x is the position in the array
  *  URLs:                  file_url(node.field_example_image.entity.uri.value)
  */
#}
{%
set default_classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{%
set classes = [
'contact--' ~ field_name|clean_class,
]
%}
{%
set iconclass = [
'icon-phone',
]
%}

{# ################################################################################################################# #}
{# GOOGLE MAPS INTEGRATION #}
{% set map_addr1    = node.field_gung_contact_mapdir.0.address_line1 %}
{% set map_addr2    = node.field_gung_contact_mapdir.0.address_line2 %}
{% set map_city     = node.field_gung_contact_mapdir.0.locality %}
{% set map_state    = node.field_gung_contact_mapdir.0.administrative_area %}
{% set map_zip      = node.field_gung_contact_mapdir.0.postal_code %}

{# MAP VARS #}
{% set google_dirlink = '' %}
{% set google_dirlink_linktext  = '' %}
{% set googlemap = false %}

{# SET MAP DATA TO VARS IF THERE IS MAP INFORMATION DATA #}
{% if(  map_addr1   is not empty and
        map_city    is not empty and
        map_state   is not empty and
        map_zip     is not empty )
%}
    {%  set google_dirlink          = 'https://google.com/maps?q='
                                    ~ map_addr1|replace(' ','+') ~ '+'
                                    ~ map_addr2|replace(' ','+') ~ '+'
                                    ~ map_city|replace(' ','+') ~ ',+'
                                    ~ map_state|replace(' ','+') ~ '+'
                                    ~ map_zip %}

    {%  set googlemap = true %}

{% endif %}

{# TEST TO HIDE SOMETHING #}

{% set border_bottom = "" %}

{% if(
    (node.field_gung_contact_facebook.value is null or node.field_gung_contact_facebook.value is empty) and
    (node.field_gung_contact_twitter.value is null or node.field_gung_contact_twitter.value is empty) and
    (node.field_gung_contact_youtube.value is null or node.field_gung_contact_youtube.value is empty) and
    (node.field_gung_contact_instagram.value is null or node.field_gung_contact_instagram.value is empty) and
    (node.field_gung_contact_google.value is null or node.field_gung_contact_google.value is empty) and
    (node.field_gung_contact_soundcloud.value is null or node.field_gung_contact_soundcloud.value is empty) and
    (node.field_gung_contact_snapchat.value is null or node.field_gung_contact_snapchat.value is empty) and
    (node.field_gung_contact_vine_link.value is null or node.field_gung_contact_vine_link.value is empty) and
    (node.field_gung_contact_flickr_link.value is null or node.field_gung_contact_flickr_link.value is empty) and
    (node.field_gung_contact_rss_link.value is null or node.field_gung_contact_rss_link.value is empty) and
    (node.field_gung_contact_pintrest.value is null or node.field_gung_contact_pintrest.value is empty) and
    (node.field_gung_contact_tumblr_link.value is null or node.field_gung_contact_tumblr_link.value is empty) and
    (node.field_gung_contact_linkedin.value is null or node.field_gung_contact_linkedin.value is empty) and
    (node.field_gung_contact_vimeo_link.value is null or node.field_gung_contact_vimeo_link.value is empty)
    )

%}
{%  set border_bottom = 'border-hide' %}

{% else %}
{%  set border_bottom = 'border-show' %}

{% endif %}


{# ################################################################################################################# #}

<article{{ attributes.addClass(default_classes) }}>
    {# THIS IS NECESSARY FOR QUICK EDITING THE CONTACT NODE ASSOCIATED WITH THIS CONTENT #}
    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            Contact {{ label }}
        </h2>
        {# THIS IS WHERE WE BUILD THE NODE STRUCTURE #}
        <div{{ content_attributes.addClass('news-contact-area') }}>

            <div>{{  node.field_gung_contact_details.value|raw }}
            </div>

            <fieldset class="contact-info-wrapper">
                <div class="fieldset-wrapper">

                {% if(content.field_gung_phone_contact[0] is not null and content.field_gung_phone_contact[0] is not empty) %}
                    <div class="contact-col-1">
                        <div class="contact-phone">
                            <div class="icon-phone">
                                <div class="contact--field-gung-contact-phone">Contact us by phone:</div>
                            </div>
                            {# LOOP PHONE AND VALUES #}
                            <div class="contact-phone-value">
                                {{ content.field_gung_phone_contact }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if(node.field_gung_contact_email.value is not empty and node.field_gung_contact_email.value is not null) %}
                    <div class="contact-col-2">
                        <div class="contact-email">
                            <div class="icon-email">
                                <div class="contact--field-gung-contact-email">Contact us by email:</div>
                            </div>
                            {% for k,v  in node.field_gung_contact_email %}
                                <div class="contact-email-value">
                                    <div><a href="mailto:{{ node.field_gung_contact_email[k].value }}">{{ node.field_gung_contact_email[k].value }}</div></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if(node.field_gung_contact_address.value is not empty and node.field_gung_contact_address.value is not null) %}
                    <div class="contact-col-1">
                        <div class="contact-address">
                            <div class="icon-email">
                                <div class="contact--field-gung-contact-address">Mailing Address:</div>
                            </div>
                            {% for k,v  in node.field_gung_contact_address %}
                                <div class="contact-address-value">
                                    <div>{{ node.field_gung_contact_address[k].value|raw }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if(node.field_gung_contact_fax.value is not empty and node.field_gung_contact_fax.value is not null) %}
                    <div class="contact-col-2">
                        <div class="contact-fax">
                            <div class="icon-other">
                                <div class="contact--field-gung-contact-fax">Contact us by fax:</div>
                            </div>
                            {% for k,v in node.field_gung_contact_fax %}
                                <div class="contact-fax-value">
                                    <div>{{ node.field_gung_contact_fax[k].value }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if (googlemap == true) %}
                    <div class="contact-col-2">
                        <div class="contact-mapdir">
                            <div class="icon-mapdir">
                                <div class="contact--field-gung-contact-mapdir">Map Directions:</div>
                            </div>
                            <div class="contact-mapdir-value">
                                <a target="_blank" href="{{ google_dirlink }}">
                                    {{ map_addr1 }}<br />
                                    {{ map_city }} {{ map_state }}, {{ map_zip }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
           </fieldset>

           <fieldset class="social-media-wrapper {{ border_bottom }}">
                <div class="fieldset-wrapper">

                    {% if(node.field_gung_contact_facebook.value is not empty and node.field_gung_contact_facebook.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_facebook.uri }}" class="icon-facebook">Facebook</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_twitter.value is not empty and node.field_gung_contact_twitter.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_twitter.uri }}" class="icon-twitter">Twitter</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_youtube.value is not empty and node.field_gung_contact_youtube.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_youtube.uri }}" class="icon-youtube">YouTube</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_instagram.value is not empty and node.field_gung_contact_instagram.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_instagram.uri }}" class="icon-instagram">Instagram</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_google.value is not empty and node.field_gung_contact_google.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_google.uri }}" class="icon-google-plus">Google+</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_soundcloud.value is not empty and node.field_gung_contact_soundcloud.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_soundcloud.uri }}" class="icon-soundcloud">Soundcloud</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_snapchat.value is not empty and node.field_gung_contact_snapchat.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_snapchat.uri }}" class="icon-snapchat">Snapchat</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_vine_link.value is not empty and node.field_gung_contact_vine_link.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_vine_link.uri }}" class="icon-vine">Vine</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_flickr_link.value is not empty and node.field_gung_contact_flickr_link.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_flickr_link.uri }}" class="icon-flickr">Flickr</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_rss_link.value is not empty and node.field_gung_contact_rss_link.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_rss_link.uri }}" class="icon-rss">RSS</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_pintrest.value is not empty and node.field_gung_contact_pintrest.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_pintrest.uri }}" class="icon-pinterest">Pinterest</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_tumblr_link.value is not empty and node.field_gung_contact_tumblr_link.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_tumblr_link.uri }}" class="icon-tumblr">Tumblr</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_linkedin.value is not empty and node.field_gung_contact_linkedin.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_linkedin.uri }}" class="icon-linkedin">LinkedIn</a></div>
                    {% else %}
                    {% endif %}

                    {% if(node.field_gung_contact_vimeo_link.value is not empty and node.field_gung_contact_vimeo_link.value is not null) %}
                    <div><a href="{{ node.field_gung_contact_vimeo_link.uri }}" class="icon-vimeo">Vimeo</a></div>
                    {% else %}
                    {% endif %}
               </div>
            </fieldset>


</div>

        {# CLOSE OUT THE QUICK EDIT FUNCTION #}
    {% endif %}
    {{ title_suffix }}
</article>
