{#
/**
 * @file
 * Theme override to display a node for gung-event.
 * Begin TWIG NODE-GUNG-EVENT Template
 * CREATED BY GUNG
 */
#}

{# NODE FIELDS #}
{# Agency keywords                  -- field_gung_agency_keywords #}
{# Content categorization           -- field_gung_contentcat #}
{# Location                         -- field_gung_event_address #}
{# All day event                    -- field_gung_event_all_day #}
{# Content sections                 -- field_gung_event_contentsect #}
{# End date (see custom vars)       -- field_gung_event_date_end #}
{# Start date (see custom vars)     -- field_gung_event_date_start #}
{# Hero image                       -- field_gung_event_heroimage #}
{# Navigation toggle on/off         -- field_gung_event_navtoggle #}
{# Redirect Url                     -- field_gung_event_redirect_url #}
{# Short title                      -- field_gung_event_short_title #}
{# Summary description              -- field_gung_event_summary #}
{# Venue name                       -- field_gung_event_venue_name #}
{# Global Keywords                  -- field_gung_global_keywords #}

{# CUSTOM NODE VARIABLES #}
{# See gung_event_content_type_preprocess_node() for extra variables. #}

{# ATTACH JS LIBRARY #}
{{ attach_library('gung_d8_theme/navigator') }}
{{ attach_library('gung_d8_theme/callouts') }}

{# DECLARED VARS #}
{% set hero_image = file_url(node.field_gung_event_heroimage.entity.field_image.entity.uri.value) %}
{% if hero_image == '/' %}
    {% set hero_image_class = 'hero-no-image' %}
{% else %}
    {% set hero_image_class = 'hero-has-image' %}
    {% set hero_has_image_content = 'hero-has-image-content' %}
{% endif %}
{% set nav_toggle = node.field_gung_event_navtoggle.value %}
{% set toc_content_sections = content.field_gung_event_contentsect|without('label') %}

<div class="gung-event-content-page gung-toc-page">

    {# NEW HERO SECTION #}

    <article {{ attributes.addClass('hero-event','hero-layout') }}>

        {# START QUICK EDITS #}
        {{ title_prefix }}

        <div class="hero-header {{ hero_image_class }} hero-event">
            <div class="hero-image">
                {{ content.field_gung_event_heroimage }}
            </div>
            <div class="hero-bkg"></div>
        </div>

        <div class="hero-content-wrap">
            <div class="hero-inner hero-event--inner {{ hero_has_image_content }}">
                {# Title block #}
                <div class="hero-event--title-block">
                    <h1>{{ label }}</h1>

                    <div class="hero-keywords">
                        {{ content.field_gung_agency_keywords }}
                    </div>
                </div>
                {# Event date block #}
                <div class="hero-event--date-block">
                    {% include '@gung_d8_theme/includes/gung--event-date.html.twig' with {'type': 'full'} %}
                </div>
            </div>
        </div>

        {{ title_suffix }}

    </article>

    {% include '@gung_d8_theme/includes/gung--action-bar.html.twig' %}
    {% include '@gung_d8_theme/includes/gung--toc.html.twig' %}

</div>
