{#
/**
 * @file
 * Theme override to display a node for gung-news
 *
 *    -- GungWang News Content Type twig accessors --
 *
 *	  FIELD					TWIG
 *    title:                {{ label }}
 *    body:                 {{ content.body }}
 *    agency_keywords:      {{ content.field_gung_agency_keywords }}
 *    attachments:          {{ content.field_gung_news_attachment }}
 *    teaser:               {{ content.field_gung_news_teaser }}
 *    news_image:           {{ content.field_gung_news_image }}
 *    contact_info:         {{ content.field_gung_news_contact_info }}
 *    news_date:            {{ content.field_gung_news_date }}
 *    global_keywords:      {{ content.field_gung_global_keywords }}
 *    location:             {{ content.field_gung_news_location }}
 *    subtitle:             {{ content.field_gung_news_sub_title }}
 *
 */

/**
 *  attachment URI [0]:             {{ file_url(node.field_gung_news_attachment.0.entity.uri.value) }}         
 *  attachment Description [0]:     {{ node.field_gung_news_attachment[0].description }}     
 */

#}

{#
/*
 * Begin TWIG NODE-GUNG-NEWS Template
 */
#}

{% set hero_image = file_url(node.field_gung_news_image.entity.field_image.entity.uri.value) %}

{%
  set newsclasses = [
    'node',
    node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}



{# NEW HERO SECTION #}

<article {{ attributes.addClass(newsclasses,'hero-layout') }}>

    {# START QUICK EDITS #}
    {{ title_prefix }}

    {# CHECK IF THERE IS AN IMAGE #}

    {% if hero_image == '/' %}
        <div class="hero-header hero-news hero-no-image">
            <div class="hero-bkg"></div>
        </div>
        <div class="hero-no-image-wrap">
    {% else %}
        <div class="hero-header hero-news hero-has-image">
            <div class="hero-image">
                {{ content.field_gung_news_image }}
            </div>
            <div class="hero-bkg"></div>
        </div>
        <div class="hero-image-wrap">
    {% endif %}

         {% if hero_image == '/' %}
         <div class="hero-inner hero-news-inner">
         {% else %}
         <div class="hero-inner hero-news-inner hero-has-image-content">
         {% endif %}

                {# DATE / LOCATION #}
                <div class="hero-published-date hero-news-date">
                    {{ content.field_gung_news_date }} 
                    {% if node.field_gung_news_location.value is not null and node.field_gung_news_location.value is not empty  %}
                      | <div class="hero-location">{{ content.field_gung_news_location }}</div>
                    {% endif %}
                </div>

                {# HERO TITLE #}
                <h1>
                    {% if node.field_gung_news_hero_title.value is empty %}
                        {{ label }}
                    {% else %}
                        {{ node.field_gung_news_hero_title.value }}
                    {% endif %}
                </h1>

                 {# KEYWORDS FOR INNER PAGE HERO #}
                 <div class="hero-keywords">
                     {% for term in node.field_gung_agency_keywords %}
                         <a href="/keywords/{{ term.entity.machine_name.value }}">{{ term.entity.name.value }}</a>
                     {% endfor %}
                 </div>

         </div>
        {# END WRAPPER -- FRESH #}
      </div>

    {{ title_suffix }}

</article>
<div class="gung-share-bar">
    <div class="gung-share">
        <div class="gung-share-bar-icons">
        <div class="gung-action-share-label">SHARE</div>
            <div class="gung-action-share-button">
                <a href="mailto:?Subject={{ site_name }}: {{ node.label }}&Body={{ url('<current>') }}"><span class="icon-email"></span></a>
            </div>
            <div class="gung-action-share-button">
                <a href="http://www.facebook.com/share.php?u={{ url('<current>') }}" target="_blank"><span class="icon-facebook"></span></a>
            </div>
            <div class="gung-action-share-button">
                        <a href="https://twitter.com/intent/tweet?text={{ node.label }}&url={{ url('<current>') }}" target="_blank"><span class="icon-twitter"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="news-body">
	
    <div class="news-body-in">

        <div class="press-teaser">
            {{ content.field_gung_news_subtitles }}
        </div>
        
        <div class="press-body">
            {{ content.body }}
        </div>
			
    </div>
		
</div>
    
<div class="press-docs">
    {# DOCUMENT TITLE - CHECK IF TITLE EXISTS #}
    {% if node.field_gung_news_docsec_title.value is not null and node.field_gung_news_docsec_title.value is not empty  %}
        <h2 class="doc-set-title">{{ content.field_gung_news_docsec_title }}</h2>
    {% endif %}
    {# DOCUMENT SUBTITLE - CHECK IF SUBTITLE EXISTS #}
    {% if node.field_gung_news_docsec_subtitle.value is not null and node.field_gung_news_docsec_subtitle.value is not empty  %}
        <h3 class="doc-set-subtitle">{{ content.field_gung_news_docsec_subtitle }}</h3>
    {% endif %}
    <div class="press-docs-eref">
        {{ content.field_gung_news_attdocs_eref }}
    </div>
</div>

<div class="press-contact-info">
    {{ content.field_gung_news_contact_info }}
</div>

