{#
/**
 * @file
 * Theme override to display a node.
 * OVERRIDE the whitelisted content display for announcements reference.
 */
#}
{% set whitelistlink = content.field_gung_whitelist_link_url[0]['#url'] %}

{# setting title variable so it can be used 2x #}
{%  if(node.field_gung_whitelist_stitle.value is not empty and node.field_gung_whitelist_stitle.value is not null) %}
    {% set vtitle = node.field_gung_whitelist_stitle.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}


<article{{ attributes.addClass('gung-announcements') }}>
    {{ title_prefix }}
    {% if not page %}
        <div class="gung-announce-wrap">
            <div class="gung-announce-wrap-in">
                <div class="announcement-info">
                    {# IMPLEMENTS SHORT TITLE OR 65 CHAR LIMIT TITLE #}

                    {% if(vtitle|length <= 65) %}
                        <h4><a href="{{ whitelistlink }}">{{ vtitle }}</a></h4>
                    {% else %}

                        {% set ws = true %}
                        {% for num in node.label|length..0 %}
                            {% if (num < 65 and  node.label|slice(num)|first == ' ' and ws != false) %}
                                {% set ws = false %}
                                <h4><a href="{{ whitelistlink }}">{{ node.label[:num] ~ '...' }}</a></h4>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
    
                    <div class="announcement-date">
                        {{ node.field_gung_whitelist_date.value|date("F j, Y") }}
                    </div>
                    
                    <div class="announcement-summary">
                        {% if node.field_gung_whitelist_descript.value is not empty and node.field_gung_whitelist_descript.value is not null %}
                            {{ content.field_gung_whitelist_descript }}
                        {%  else %}
                            {{ content.body }}
                        {% endif %}
                    </div>
                </div>
                <div class="gung-announcement-button">
                    <a href="{{ whitelistlink }}" title="{{ vtitle }}">LEARN MORE</a>
                </div>
                

            </div>
        </div>
    {% endif %}
    {{ title_suffix }}
</article>
