{#
/**
 * @file
 * Theme override to display a node for gung-location content type.
 * Begin TWIG NODE-GUNG-LOCATION Template
 * CREATED BY GUNG
 */
#}

{# NODE FIELDS #}
{# Address                     -- field_gung_location_address #}
{# Agency Keywords             -- field_gung_agency_keywords #}
{# Content Sections            -- field_gung_location_contentsec #}
{# Counties Served             -- field_gung_location_counties #}
{# Filter Terms                -- field_gung_filter_terms #}
{# Hero Image                  -- field_gung_location_heroimage #}
{# Location Type               -- field_gung_location_type_tax #}
{# NAVIGATION TOGGLE ON/OFF    -- field_gung_location_navtoggle #}
{# Phone                       -- field_gung_location_phone #}
{# Short Title                 -- field_gung_location_short_title #}
{# Summary                     -- field_gung_location_summary #}

{# ATTACH JS LIBRARY #}
{{ attach_library('gung_d8_theme/navigator') }}
{{ attach_library('gung_d8_theme/callouts') }}

{# DECLARED VARS #}
{% set hero_image = file_url(node.field_gung_location_heroimage.entity.field_image.entity.uri.value) %}
{% if hero_image == '/' %}
    {% set hero_image_class = 'hero-no-image' %}
{% else %}
    {% set hero_image_class = 'hero-has-image' %}
    {% set hero_has_image_content = 'hero-has-image-content' %}
{% endif %}
{% set nav_toggle = node.field_gung_location_navtoggle.value %}
{% set toc_content_sections = content.field_gung_location_contentsec|without('label') %}

<div class="gung-location gung-toc-page">

    {# NEW HERO SECTION #}

    <article {{ attributes.addClass('hero-layout') }}>

        {# START QUICK EDITS #}
        {{ title_prefix }}

        <div class="hero-header  {{ hero_image_class }} hero-location">
            <div class="hero-image">
                {{ content.field_gung_location_heroimage }}
            </div>
            <div class="hero-bkg"></div>
        </div>

        <div class="hero-content-wrap">
            {# HERO INNER DEFINITION #}
            <div class="hero-inner hero-location-inner {{ hero_has_image_content }}">
                {# LOCATION TYPE TAXONOMY #}
                <div class="location-type-tax">{{ content.field_gung_location_type_tax }}</div>

                <div class="location-horizontal-line"></div>

                {# HERO HEADLINE / TITLE #}
                <h1>{{ label }}</h1>

                {# COUNTIES SERVED #}
                <div class="location-counties-served-field">{{ content.field_gung_location_counties }}</div>

                {# ADDRESS #}
                <div class="location-address-field">{{ content.field_gung_location_address }}</div>

                {# PHONE #}
                <div class="location-phone">{{ content.field_gung_location_phone }}</div>
            </div>
        </div>

        {# ====== END HERO SECTION ====== #}

        {{ title_suffix }}

    </article>

    {% include '@gung_d8_theme/includes/gung--action-bar.html.twig' %}
    {% include '@gung_d8_theme/includes/gung--toc.html.twig' %}

</div>
