{% extends 'profiles/custom/gung/themes/custom/gung_d8_theme/templates/content/gung--card-base.html.twig' %}

{# setting title variable so it can be used 2x #}
{%  if(node.field_gung_landing_short_title.value is not empty and node.field_gung_landing_short_title.value is not null) %}
    {% set vtitle = node.field_gung_landing_short_title.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

{% block card_image %}
    {% if (content.field_gung_landing_hero_image["#items"] is not empty) %}
        <a href="{{ url }}">
            <div class="card-image" style="background-image: url('{{ file_url(node.field_gung_landing_hero_image.entity.field_image.entity.uri.value | image_style('card_vertical')) }}');">
            </div>
        </a>
    {% else %}
        <a href="{{ url }}">
            <div class="card-fallback-image">
                {% include '@gung_d8_theme/includes/NYS_StateOutline.svg.twig' %}
            </div>
        </a>
    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ vtitle | gung_trim_card_title }}
{% endblock card_title %}

{% block card_title_url %}
	<a href="{{ url }}" rel="bookmark">
{% endblock card_title_url %}


{% block card_content %}
    {{ content|without('field_gung_landing_hero_image', 'field_gung_landing_short_title','node.label') }}
{% endblock card_content %}
