{% extends 'profiles/custom/gung/themes/custom/gung_d8_theme/templates/content/gung--card-base.html.twig' %}

{# setting title variable so it can be used 2x #}
{%  if(node.field_gung_event_short_title.value is not empty and node.field_gung_event_short_title.value is not null) %}
    {% set vtitle = node.field_gung_event_short_title.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

{% block card_image %}
    {% if (content.field_gung_event_heroimage["#items"] is not empty) %}

        {% if content.field_gung_event_redirect_url.0 %}
            {% set link = content.field_gung_event_redirect_url.0 %}
            <a href="{{ link }}">
                <div class="card-image" style="background-image: url('{{ file_url(node.field_gung_event_heroimage.entity.field_image.entity.uri.value | image_style('card_vertical')) }}');">
                </div>
            </a>
        {% else %}
            <a href="{{ url }}">
                <div class="card-image" style="background-image: url('{{ file_url(node.field_gung_event_heroimage.entity.field_image.entity.uri.value | image_style('card_vertical')) }}');">
                </div>
            </a>
        {% endif %}

    {% else %}

        {% if content.field_gung_event_redirect_url.0 %}
            {% set link = content.field_gung_event_redirect_url.0 %}
            <a href="{{ link }}">
                <div class="card-fallback-image">
                    {% include '@gung_d8_theme/includes/Gung_Events.svg.twig' %}
                </div>
            </a>
        {% else %}
            <a href="{{ url }}">
                <div class="card-fallback-image">
                    {% include '@gung_d8_theme/includes/Gung_Events.svg.twig' %}
                </div>
            </a>
        {% endif %}

    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ vtitle | gung_trim_card_title }}
{% endblock card_title %}

{% block card_title_url %}
    {# link not working so setting url to redirect field if it is filled in #}
    {# <a href="{{ link }}" rel="bookmark"> #}
    {% if content.field_gung_event_redirect_url.0 %}
        {% set link = content.field_gung_event_redirect_url.0 %}
            <a href="{{ link }}" rel="bookmark">
    {% else %}
        <a href="{{ url }}" rel="bookmark">
    {% endif %}
{% endblock card_title_url %}


{% block card_content %}
    <div class="summary">
        {{ content.field_gung_event_summary }}
    </div>

    {# See gung_event_content_type_preprocess_node() for extra variables. #}

    {# Event date block #}
   <div class="card-event--date-block">
       {% include '@gung_d8_theme/includes/gung--event-date.html.twig' %}
   </div>


{% endblock card_content %}
