{#
/**
 * @file
 * Theme override to display a node.
 *
 * CREATED BY GUNG -- iojonep, lmurdock, mcase
 * Override theme for bio frames
 * Available variables:
 * https://api.drupal.org/api/drupal/core!modules!node!templates!node.html.twig/8.2.x 
#}
{%
  set docclasses = [
    node.bundle ~ "_bioframe"|clean_class,
  ]
%}

{# DEBUG VIA KINT / DEVEL #}


<article{{ attributes.addClass(docclasses) }}>
    {{ title_prefix }}

    <div  class="bio-frame-meta">
        <h2>
            <span class="frame-title">
                 {{ content.group_gung_bio_meta_div.field_gung_contact_protitle }}
            </span>
            <span class="frame-headline">
                {{ content.group_gung_bio_meta_div.field_gung_contact_name }}
            </span>
        </h2>
    </div>
        {{ content.group_gung_bio_meta_div|without('field_gung_contact_name', 'field_gung_contact_protitle') }}

    <div class="bio-frame-image">
        {{ content.group_gung_bio_image_div.field_gung_contact_image }}
    </div>

    {{ title_suffix }}
</article>
