{% extends 'profiles/custom/gung/themes/custom/gung_d8_theme/templates/content/gung--teaser-base.html.twig' %}


{% set title = node.label %}
{% block title %}
    <a href="{{ url }}">
        {% if title|length <= 65 %}
            {{ title }}
        {% else %}
            {{ title|slice(0, 65) ~ '...' }}
        {% endif %}
    </a>
{% endblock title %}

{% block hero_image %}
    <div class="list-fallback-img">{{ source('profiles/custom/gung/themes/custom/gung_d8_theme/images/Gung_Report.svg') }}</div>
{% endblock hero_image %}

{% block content %}
    <div class="description">
        {{ content.body }}
    </div>
{% endblock content %}

{% block footer %}
    <ul class="links inline">
        <li class="node-readmore">
            <a href="{{ url }}" rel="tag" title="{{ node.label }}">Download<span class="visually-hidden"> about {{ node.label }}</span></a>
        </li>
    </ul>
{% endblock %}