{#
/**
 * @file
 * Theme override to display a node.
 * OVERRIDE the whitelisted content display for quick links card.
 */
#}
{# set variables #}
{% set description = content.field_gung_whitelist_descript %}
{% if (node.field_gung_whitelist_stitle.value is not empty and node.field_gung_whitelist_stitle.value is not null) %}
    {% set title = content.field_gung_whitelist_stitle %}
{% else %}
    {% set title = node.label %}
{% endif %}

<article{{ attributes.addClass('gung-quick-links') }}>

    <div{{ content_attributes }}>
        <div class="gung-quick-links-image"><a href="{{ url }}">
                {% if (node.field_gung_whitelist_image is not empty and node.field_gung_whitelist_image is not null) %}
                    {{ content.field_gung_whitelist_image }}
                {% else %}
                    <div class="fallback-image">{% include '@gung_d8_theme/includes/OpenBrowserArrow.svg.twig' %}</div>
                {% endif %}

            </a></div>
        <div class="gung-quick-links-card-text">
            <div class="gung-quick-links-title"><a href="{{ url }}">
                    {% if(title|length <= 65) %}
                        {{ title }}
                    {% else %}

                        {% set ws = true %}
                        {% for num in node.label|length..0 %}
                            {% if (num < 65 and  node.label|slice(num)|first == ' ' and ws != false) %}
                                {% set ws = false %}
                                {{ node.label[:num] ~ '...' }}
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                </a></div>
            <div class="gung-quick-links-description">{{ description }}</div>
        </div>
    </div>

</article>