{% extends 'profiles/custom/gung/themes/custom/gung_d8_theme/templates/content/gung--teaser-base.html.twig' %}

{% block title %}
    {% if (node.field_gung_page_short_title.value is not empty and node.field_gung_page_short_title.value is not null) %}
        {% set title = content.field_gung_page_short_title %}
    {% else %}
        {% set title = node.label %}
    {% endif %}

    <a href="{{ url }}">
        {% if title|length <= 65 %}
            {{ title }}
        {% else %}
            {{ title|slice(0, 65) ~ '...' }}
        {% endif %}
    </a>
{% endblock title %}

{% block hero_image %}
    {% if not content.field_gung_page_image.0 %}
        <div class="list-fallback-img">{{ source('profiles/custom/gung/themes/custom/gung_d8_theme/images/NYS_StateOutline.svg') }}</div>
    {% else %}
        {{ content.field_gung_page_image }}
    {% endif %}
{% endblock hero_image %}

{% block content %}
    <div class="page-description-fieldwrapper">
        <div class="page-description-text">{{ content.field_gung_page_description }}</div>
    </div>
{% endblock content %}

{% block footer %}
    <ul class="links inline">
        <li class="node-readmore">
            <a href="{{ url }}" rel="tag" title="{{ node.label }}">Learn more<span class="visually-hidden"> about {{ node.label }}</span></a>
        </li>
    </ul>
{% endblock %}