{#
/**
 * @file
 * Theme override to display a node.
 * OVERRIDE the inner page display for announcements reference. 
 */
#}
{# setting title variable so it can be used 2x #}
{%  if(node.field_gung_page_short_title.value is not empty and node.field_gung_page_short_title.value is not null) %}
    {% set vtitle = node.field_gung_page_short_title.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

<article{{ attributes.addClass('gung-announcements') }}>
  {{ title_prefix }}
  {% if not page %}
    <div class="gung-announce-wrap">
        <div class="gung-announce-wrap-in">
            <div class="announcement-info">

                {# IMPLEMENTS SHORT TITLE OR 65 CHAR LIMIT TITLE #}

                {% if(vtitle|length <= 65) %}
                    <h1><a href="{{ url }}">{{ vtitle }}</a></h1>
                {% else %}

                    {% set ws = true %}
                    {% for num in node.label|length..0 %}
                        {% if (num < 65 and  node.label|slice(num)|first == ' ' and ws != false) %}
                            {% set ws = false %}
                            <h1><a href="{{ url }}">{{ node.label[:num] ~ '...' }}</a></h1>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="announcement-summary">
                    {% if node.field_gung_page_description.value is not empty and node.field_gung_page_description.value is not null %}
                        {{ content.field_gung_page_description }}
                    {%  else %}
                        {{ content.body }}
                    {% endif %}
                </div>
            </div>
            <div class="gung-announcement-button">
              <a href="{{ url }}" aria-label="{{ vtitle }}" title="{{ vtitle }}">LEARN MORE</a>
            </div>
        </div>        
     </div>
  {% endif %}
  {{ title_suffix }}
</article>
