{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('gung_d8_theme/video-js') }}
{{ attach_library('gung_d8_theme/videojs-youtube') }}
{{ attach_library('gung_d8_theme/videojs-vimeo') }}
{{ attach_library('gung_d8_theme/video-js-ie8') }}
{{ attach_library('gung_d8_theme/video-js-css') }}

{{ attach_library('gung_d8_theme/videoframe') }}


{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% set posterExists = content.field_gung_landing_pg_vid_img[0] is not null and content.field_gung_landing_pg_vid_img[0] is not empty %}
{% set posterCaptionExists = content.field_gung_lnd_pg_pstr_img_capt[0] is not null and content.field_gung_lnd_pg_pstr_img_capt[0] is not empty %}
{% set url = paragraph.field_gung_landing_pg_video_url.value %}

{% if ( ('youtube' in paragraph.field_gung_landing_pg_video_url.value) or ('youtu.be' in paragraph.field_gung_landing_pg_video_url.value) ) %}
    {% set type = 'video/youtube' %}
    {% set tech = 'Youtube' %}
{% elseif ('vimeo' in paragraph.field_gung_landing_pg_video_url.value) %}
    {% set type = 'video/vimeo' %}
    {% set tech = 'Vimeo' %}
{% elseif ('brightcove' in paragraph.field_gung_landing_pg_video_url.value) %}
    {% set type = 'brightcove' %}
    {% set tech = 'brightcove' %}
{% endif %}


{% set poster_image = paragraph.field_gung_landing_pg_vid_img.entity.field_image.entity.uri.value %}

{% if type is not null %}
<div{{ attributes.addClass(classes) }}>

    {% if paragraph.field_gung_landing_pg_vid_title.value is not empty and paragraph.field_gung_landing_pg_vid_title.value is not null %}
        <h3>{{ paragraph.field_gung_landing_pg_vid_title.value }}</h3>
    {% endif %}

    {% if paragraph.field_gung_landing_pg_vid_hdlin.value is not empty and paragraph.field_gung_landing_pg_vid_hdlin.value is not null %}
        <h2>{{ paragraph.field_gung_landing_pg_vid_hdlin.value }}</h2>
    {% endif %}

    {{ content.field_gung_lndng_pg_vid_descrip }}
    
    <div class="wrapper">
        <div class="videocontent">
            {% if tech is not null and tech != 'brightcove' %}
                <video
                    id="videojs-player-{{ paragraph.id.value }}"
                    class="video-js vjs-default-skin {% if not posterExists %}vjs-big-play-centered{% endif %} vjs-16-9"
                    {% if tech != 'Youtube' %}controls{% endif %}
                    width="660" height="400"
                    {% if posterExists %}
                    poster="{{ poster_image| image_style('wysiwyg') }}"
                    {% endif %}
                    data-setup='{ "techOrder": ["{{ tech }}"], "sources": [{ "type": "{{ type }}", "src": "{{ url }}"}]{% if tech == 'Youtube' %}, "youtube": { "ytControls": 2 }{% endif %} }'
                >
                </video>

                {% if posterCaptionExists %}
                <div class="caption">{{ paragraph.field_gung_lnd_pg_pstr_img_capt.value }}</div>
                {% endif %}

            {% else %}
                <div id="videojs-player-{{ paragraph.id.value }}" class="video-js" {% if posterExists %}poster="{{ poster_image | image_style('wysiwyg') }}"{% endif %} data-setup='{ "techOrder": ["{{ tech }}"], "sources": [{ "type": "{{ type }}", "src": "{{ url }}"}] }'></div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}