{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# CHECK IF PARAGRAPH ENABLED #}
{% if paragraph.field_gung_wysiwyg_toc.value == 1 %}
    {% set gp_enabled = 'gp_enabled' %}
    {% set gp_status = 'enabled' %}
{% else %}
    {% set gp_enabled = '' %}
    {% set gp_status = 'disabled' %}
{% endif %}



{# DISPLAY THE PARAGRAPH #}
{% block paragraph %}
    <section id="{{ 'toc_' ~ paragraph.id() }}" rel="{{ gp_status }}" class="toc-para {{ paragraph.bundle() }} {{ gp_enabled }}" >
        <h2>
            <span class="toc-mobile-spacer"></span>

            {% if(paragraph.field_gung_wysiwyg_title.value is not empty and paragraph.field_gung_wysiwyg_title.value is not null) %}
                {{ paragraph.field_gung_wysiwyg_title.value }}
            {% else %}
                {{ getWYSIWYGTitle() }}
            {% endif %}

            {{ wtitle }}
        </h2>
        {{ content|without('field_gung_wysiwyg_toc', 'field_gung_wysiwyg_title', 'field_gung_wysiwyg_card_link') }}
        <div class="next-section">
            <div class="next-section-links">
                <p>Next Section</p>
                <p class="icon-thin_down_arrow next-section-link">Continue</p>
            </div>
            <span class="next-section-title"></span>
        </div>
    </section>
{% endblock paragraph %}
