{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# CHECK IF PARAGRAPH ENABLED #}
{% if paragraph.field_gung_get_inv_toc.value == 1 %}
    {% set gp_enabled = 'gp_enabled' %}
    {% set gp_status = 'enabled' %}
{% else %}
    {% set gp_enabled = '' %}
    {% set gp_status = 'disabled' %}
{% endif %}


{# DISPLAY THE PARAGRAPH #}
{% block paragraph %}
    <section id="{{ 'toc_' ~ paragraph.id() }}" rel="{{ gp_status }}" class="toc-para {{ paragraph.bundle() }} {{ gp_enabled }}" >
        {{ content }}
    </section>
{% endblock paragraph %}