{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{# CHECK IF PARAGRAPH ENABLED #}
{% if paragraph.field_gung_doc_add_frame_to_toc.value == 1 %}
    {% set gp_enabled = 'gp_enabled' %}
    {% set gp_status = 'enabled' %}
{% else %}
    {% set gp_enabled = '' %}
    {% set gp_status = 'disabled' %}
{% endif %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'toc-para',
    paragraph.bundle|clean_class,
    'gp_enabled',
    'generic-paragraphs',
  ]
%}

{# DISPLAY THE PARAGRAPH #}
{% block paragraph %}
  <section id="{{ 'toc_' ~ paragraph.id() }}" rel="{{ gp_status }}" {{ attributes.addClass(classes) }}>
        {%  if((paragraph.field_gung_documents_title.value is not empty and paragraph.field_gung_documents_title.value is not null) or (paragraph.field_gung_documents_headlne.value is not empty and paragraph.field_gung_documents_headlne.value is not null)) %}
              <h2>
                    <span class="frame-title gung-frametitle">
                      <span class="toc-mobile-spacer"></span>
                        {{ paragraph.field_gung_documents_title.value }}
                    </span>

                    <span class="frame-headline gung-headline">
                         {{ paragraph.field_gung_documents_headlne.value }}
                    </span>
              </h2>
        {% else %}
        {% endif %}

    {% block content %}

      {{ content|without('field_gung_doc_add_frame_to_toc', 'field_gung_doc_sub_title',
        'field_gung_documents_title', 'field_gung_documents_headlne', 'field_gung_doc_card_link') }}
    {% endblock %}
    <div class="next-section">
      <div class="next-section-links">
          <p>Next Section</p>
          <p class="icon-thin_down_arrow next-section-link">Continue</p>
      </div>
      <span class="next-section-title"></span>
    </div>
  </section>
{% endblock paragraph %}
