
{# PARAGRAPHS - GUNG PHOTO GALLERY #}

{%
set classes = [
'gung-photo-gallery'
]
%}

{%
set inner_classes = [
'gung-photo-gallery-in'
]
%}

{{ attach_library('gung_d8_theme/gung-photo-gallery') }}

{# VARS #}
{% set showcaseImg = '' %}

{# START THE GALLERY #}
<div {{ attributes.addClass(classes) }}>
    <div {{ attributes.addClass(inner_classes) }}>

        {# TITLE AND HEADLINE STANDARD GUNG STYLE #}
        {% if   ( paragraph.field_gung_gallery_title.value is not empty and
          paragraph.field_gung_gallery_title.value is not null) or
        ( paragraph.field_gung_gallery_headline.value is not empty and
          paragraph.field_gung_gallery_headline.value is not null ) or
        ( paragraph.field_gung_gallery_description.value is not empty and
          paragraph.field_gung_gallery_description.value is not null)
        %}
        <div class="gung-gallery-meta">

            {% if (paragraph.field_gung_gallery_title.value is not empty and paragraph.field_gung_gallery_title.value is not null) or
                  (paragraph.field_gung_gallery_headline.value is not empty and paragraph.field_gung_gallery_headline.value is not null)
            %}

                <h2>
                    {% if paragraph.field_gung_gallery_title.value is not empty and paragraph.field_gung_gallery_title.value is not null %}
                        <span class="frame-title">{{ paragraph.field_gung_gallery_title.value }}</span>
                    {% endif %}

                    {% if paragraph.field_gung_gallery_headline.value is not empty and paragraph.field_gung_gallery_headline.value is not null %}
                        <span class="frame-headline">{{ paragraph.field_gung_gallery_headline.value }}</span>
                    {% endif %}
                </h2>

            {% endif %}

            {# OVERALL DESCRIPTION -- BASIC HTML #}
            {% if paragraph.field_gung_gallery_description.value is not empty and
            paragraph.field_gung_gallery_description.value is not null %}
                <div class="frame-description">
                    {{ paragraph.field_gung_gallery_description.value|raw }}
                </div>
            {% endif %}
        </div>
        {% endif %}

        {# GALLERY SECTION HTML #}
        <div class="gung-gallery">
            <div class="gung-gallery-main">
                <div class="gung-gallery-container">
                    <div class="gung-gallery-container-in" id="galleyinmob">

                    {%  for photo in paragraph.field_gung_gallery_images %}
                        {% set index = photo.name %}

                        {% if(index == 0) %}
                            {% set showcaseImg = 'gallery-current-img' %}
                        {% else %}
                            {% set showcaseImg = '' %}
                        {% endif %}

                        <div class="gung-gallery-entry gallery-entry-{{ index + 1 }} {{ showcaseImg }}" data-gung-cell="{{ index + 1 }}">

                            {# IMAGE SECTION #}
                            <div class="gallery-imgdiv gallery-imgdiv-{{ index + 1 }}" data-gung-img="{{ index + 1 }}">
                                {# <img src="{{ file_url(content.field_gung_gallery_images['#items'][index].entity.field_image.entity.uri.value|image_style('gung_gallery_image')) }}" #}
                                <img src="{{ file_url(content.field_gung_gallery_images['#items'][index].entity.field_image.entity.uri.value|image_style('gung_gallery_image')) }}"
                                     alt="{{ content.field_gung_gallery_images['#items'][index].entity.field_image.alt }}"
                                     title="{{ content.field_gung_gallery_images['#items'][index].entity.field_image.title }}" />
                            </div>

                        </div>

                    {% endfor %}

                    </div>

                    {# DESCRIPTION SECTION #}
                    <div class="gung-gallery-desc">
                        <div class="gung-gallery-back" tabindex="0"></div>
                        <div class="gung-gallery-text">
                            {%  for p in paragraph.field_gung_gallery_images %}
                                {% set j = p.name %}

                                {% if(j == 0) %}
                                    {% set galdesc = 'galdescactive' %}
                                {% else %}
                                    {% set galdesc = '' %}
                                {% endif %}

                            <div class="{{ galdesc }} gallery-desc-entry gallery-des-{{ j + 1 }}" data-gung-pgdesc="{{ j + 1 }}">
                                {{ content.field_gung_gallery_image_desc[j] }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="gung-gallery-fwd" tabindex="0"></div>
                    </div>

                </div>
            </div>
        </div>

        {# MOBILE SUPPORT -- HIDDEN BY DEFAULT #}
        <div class="gung-gallery-mobile-pages">
            {%  for photo in paragraph.field_gung_gallery_images %}
                {% set index = photo.name %}

                {% if(index == 0) %}
                    {% set activeClass = 'galactive' %}
                {% else %}
                    {% set activeClass = '' %}
                {% endif %}
                <div class="galpage {{ activeClass }}" data-galpage="{{ index + 1 }}"></div>
            {% endfor %}
        </div>

    </div>
</div>
