// Announcement Highlight 
//
// Announcment Highlight styling. This is derived from a Paragraph Type and is displays referenced entity via News, Landing, and Inner page content. 
// 
// For more information please see the story source: https://itsgung.atlassian.net/browse/NDD-314 
//
// Style guide: components.announcement
// News
//
// This is an example of the News Annoucement Highlight paragraph type
//
// Markup: announcement-news.hbs
//
// Style guide: components.announcement.news
// Landing Page
//
// This is an example of the Landing Page Annoucement Highlight paragraph type
//
// Markup: announcement-landing.hbs
//
// Style guide: components.announcement.landing
// Inner Page
//
// This is an example of the Inner Page Annoucement Highlight paragraph type
//
// Markup: announcement-inner.hbs
//
// Style guide: components.announcement.inner
// color variables
$announce-frame-title-color: $color-primary !default;
$announce-frame-headline-color: $color-mono-black !default;
$announce-frame-item-bkgd-color: $color-mono-lt !default;
$announce-frame-item-title-color: $color-mono-black !default;
$announce-frame-item-text-color: $color-mono-black !default;
$announce-frame-headline-font-size: 24px;
$announce-frame-headline-line-height: 30px;
// $announce-frame-button: !default;
// REASSIGNED VALS FOR GLOBAL SCOPE -- ANNOUNCEMENT
// this overrides general button variables in config.scss
$announcement-button-border-color: $color-primary !default;
$announcement-button-text-color: $button-text-color !default;
$announcement-button-back-color: $button-bkgd-color!default;
$announcement-button-hover-back-color: $color-mono-black !default;
// ************************* //
// ANNOUNCEMENTS PARTIAL
// CREATED BY GUNG
// ************************* //
// PARAGRAPH
.announcement-wrap {
    //padding: $frame-padding-sm 0;
}

// ============ //

/* ANNOUNCEMENTS WRAPPER */

.gung-announcements {
    background-color: $announce-frame-item-bkgd-color;
    margin-bottom: 20px;
    overflow: auto;
    .gung-announce-wrap {
        width: 94%;
        margin: 3%;
        .gung-announce-wrap-in {
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    .announcement-date {
        margin-bottom: 16px;
        font-weight: 600;
    }
    .announcement-info,
    .gung-announcement-button {
        display: block;
        vertical-align: middle;
        color: $announce-frame-item-text-color;
        width: 99%;
    }
    .announcement-info {
        font-size: $frame-base-font-size;
        h1 {
            color: $announce-frame-item-title-color;
            font-size: $announce-frame-headline-font-size;
            line-height: $announce-frame-headline-line-height;
            margin-bottom: 16px;
            padding-bottom: 0;
            a {
                color: $announce-frame-item-title-color;
            }
        }
        .announcement-summary {
            color: $announce-frame-item-text-color;
            line-height: $frame-base-line-height;
        }
    }
    .gung-announcement-button {
        margin: 7% auto;
        text-align: center;
        a {
            // BUTTON DYNAMIC REQUIREMENTS
            border: $frame-button-border-size solid $announcement-button-border-color;
            color: $announcement-button-text-color;
            background-color: $announcement-button-back-color;
            &:hover {
                background-color: $announcement-button-hover-back-color;
            }
        }
        // BUTTON CALLS
        @include frame-button-base();
    }
} // END BASE ANNOUNCEMENT STYLES 
// ANNOUNCEMENT FIELDS TITLE AND HEADLINES
.gung-announcement-frame-inner {
    h2 {
        margin: 0 auto;
        width: 100%;
        max-width: $max-pc;
        text-align: center;
        padding: 0;
        line-height: 1;
        padding-bottom: 40px;
        .frame-title {
            text-transform: uppercase;
            color: $announce-frame-title-color;
            margin-bottom: 0;
            font: $frame_title; //$oswald;
            //font-weight: bold;
            letter-spacing: 2px;
            text-align: center;
        }
        .frame-headline {
            color: $announce-frame-headline-color;
            //font: bold $frame_headline $frame-headline; //font needs to end with font-family
            //font-weight: 800;
            font: $frame-headline;
            //margin-bottom: 0.3em;
            text-align: center;
            display: block;
            .front & {
                font: 800 40px/1 "Proxima Nova", Arial, sans-serif;
            }
        }
    }
}

// HANDLES LANDING PAGE HOME VS. SECONDARY HEADLINES
.front .frame-headline {
    //font-size: 3rem;
    font: $frame-headline-front;
}

//.frame-headline{
//font-size: 2rem;
// font-size: $frame-headline;
//}
// ######################################################################### //

/* TABLET VIEW */

@media (min-width: $min-tab) {}

// END MIN TABLET VIEW
// ######################################################################### //

/* PC VIEW */

@media (min-width: $min-pc) {
    // ============ //
    /* ANNOUNCEMENTS WRAPPER */
    .gung-announcements {
        .announcement-info,
        .gung-announcement-button {
            display: inline-block;
        }
        .announcement-info {
            width: 60%;
        }
        .gung-announcement-button {
            width: 39%;
            text-align: right;
        }
    }
} // END MIN PC VIEW