// Callouts
//
// Callouts styling for use with the Gung D8 Theme CKEDitor Callouts Module
//
// Markup: callouts.hbs
//
// Style guide: components.callouts
// DESIGNED SPECIFICALLY FOR THE GENERIC CONTENT TYPE. ALL OTHER CALLOUTS WILL NOT DISPLAY ON OTHER CONTENT TYPES
.gp-paragraphs {
    // INLINE WEB CALLOUTS
    .web-callout {
        color: #000;
        background-color: $color-accent-secondary;
         :active {
            background-color: $color-accent-primary;
        }
    } // END INLINE WEB CALLOUTS
    // THE HEAVY BODY OF THE CALLOUTS
    .body-callouts {
        display: block;
        position: relative;
        background-color: #eee;
        border-top: 2px solid $color-accent-primary;
        margin-bottom: 20px;
        font-size: 16px;
        padding: 15px;
        .body-callouts-inner {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            color: #000000;
        }
        // ARROW UP -- MOBILE PRIMARY ACCENT
        @include icon(before, arrow-up);
        &:before {
            left: 30%;
            position: absolute;
            top: -13px;
            color: $color-accent-primary;
        }
        // ARROW UP -- MOBILE GREY
        @include icon(after, arrow-up);
        &:after {
            margin-left: -4px;
            border: 4px solid transparent;
            position: absolute;
            left: 30%;
            width: 0;
            height: 0;
            top: -14px;
            color: #eee;
        }
    } // END BODY CALLOUTS
    .callout-order {
        display: inline;
    }
    .ico-order {
        display: inline;
    }
    // WAYPOINT DECORATIONS
    .activeInlineCallout {
        background-color: $color-accent-primary;
        transition: background-color 0.3s 0s ease-in-out;
    }
    .activeBodyCallout {
        border: 2px solid $color-accent-primary;
    }
} // END Generic Paras
// ######################################################################### //

/* TABLET VIEW */

@media (min-width: $min-tab) {}

// END TABLET VIEW
// ######################################################################### //

/* LARGER TABLET VIEW */

@media (min-width: $min-desktop) {
    .gp-paragraphs {
        position: relative;
    }
    .gp-paragraphs {
        // THE ENTIRE CALLOUT BODY SECTION
        .gung-callouts-section {
            position: absolute;
            top: 82px;
            right: -30%;
            width: 33.3333%;
            height: 100%;
            padding: 0;
            overflow: visible;
            .body-callouts-inner {
                position: relative;
                width: 100%;
                padding: 0 50px 0 0;
            }
        }
        // THE HEAVY BODY OF THE CALLOUTS
        .body-callouts {
            display: block;
            position: relative;
            background-color: #eee;
            border-left: 2px solid $color-accent-primary;
            border-top: 0;
            margin-bottom: 20px;
            font-size: 16px;
            padding: 15px;
            .body-callouts-inner {
                display: inline-block;
                width: 100%;
                overflow: hidden;
                color: #000000;
            }
            // ARROW UP -- MOBILE PRIMARY ACCENT
            @include icon(before, arrow-left);
            &:before {
                top: 30%;
                position: absolute;
                left: -6px;
                color: $color-accent-primary; // ARROW LEFT COLOR -- ON BOTTOM
            }
            // ARROW UP -- MOBILE GREY
            @include icon(after, arrow-left);
            &:after {
                margin-left: -4px;
                border: 4px solid transparent;
                position: absolute;
                top: 30%;
                width: 0;
                height: 0;
                left: -3px;
                margin-top: -4px;
                color: #eee; // ARROW LEFT COLOR -- ON TOP
            }
        } // END BODY CALLOUTS
        .callout-order {
            display: none;
        }
        .ico-order {
            display: none;
        }
        // BODY BRODER FULL ON ACTIVE
        .activeBodyCallout {
            border: 2px solid $color-accent-primary;
        }
        // FIXED POSITION FOR DESKTOP CALLOUTS
        .activeCalloutSection {
            position: fixed;
            top: 0;
            padding: 0;
            right: 26px;
            width: 20%;
            .gung-callout-inner {
                position: absolute;
                right: 0;
                top: 80px;
                width: 100%;
                height: 100%;
            }
        }
    }
} // END LARGER TABLET VIEW
// ######################################################################### //

/* PC VIEW */

@media (min-width: $max-pc) {}

// END PC VIEW
// ######################################################################### //

/* MAX PC VIEW */

@media (min-width: 1400px) {}

// END MAX PC VIEW
// ######################################################################### //

/* OTHER STYLE OVERRIDES  */