// Category Tiles
//
// Styling for the Category Tiles on the Landing Page content type.
//
// For more information please see the story sources: https://itsgung.atlassian.net/browse/NDD-139 and https://itsgung.atlassian.net/browse/NDD-935
//
// Markup: card.hbs
//
// Style guide: TBD
//
// color variables
$category-tiles-title-color: $color-primary !default;
$category-tiles-headline-color: $color-mono-black !default;
$category-tiles-background-color: $color-tertiary !default;
// font variables
$category-tiles-title-mobile: bold 16px $oswald !default;
$category-tiles-title-desktop: $frame-title !default;
$category-tiles-headline-mobile: 800 0.9em $base-font !default;
$category-tiles-headline-desktop: 800 1.1em $base-font !default;
// ######################################################################### //

/* START STYLING MOBILE FIRST UNDER HERE */

.paragraph--type--gung-category-tiles-frame {
    margin: 0 auto;
    .category-tiles-has-image {
        background-color: $category-tiles-background-color;
        -webkit-background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 80px 5px;
    }
    .category-tiles-no-image {
        background-color: $category-tiles-background-color;
        padding: 80px 5px;
    }
    // Using .frame-title and .frame-headline similar to _social_media_frame, and _bioframe
    .frame-title {
        font: $category-tiles-title-mobile;
        color: $category-tiles-title-color;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0;
    }
    .frame-headline {
        font: $category-tiles-headline-mobile;
        color: $category-tiles-headline-color;
        text-align: center;
        line-height: 1.25em; //2rem;
        padding: 0;
    }
    // the category-tiles-body class is controlled by the .body-area in _body.scss line 90, 196, 24)
    .category-tiles-body-empty {
        display: none;
    }
    .category-tiles-body {
        padding-bottom: 40px;
        overflow-wrap: normal;
    }
    .category-tiles-link-content {
        margin: 0 auto;
        max-width: 28em;
        width: 100%;
        float: none;
        .category-tile-link-flex {
            padding: 0;
            margin-left: 5%;
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            .category-tiles-link--field-gung-cat-button-link {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $button-bkgd-color;
                padding: 5px;
                margin-left: 20px;
                max-width: 330px;
                width: 35%;
                min-height: 80px;
                line-height: 17px;
                margin-top: 14px;
                color: white;
                font-size: 3em;
                text-align: center;
                transition: all 0.5s ease;
                opacity: 0.9;
                a {
                    color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    transition: all 0.5s ease;
                    opacity: 0.9;
                    font-family: $base-font;
                    font-size: 16px;
                    letter-spacing: 0;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                }
            }
        }
        .category-tiles-link--field-gung-cat-button-link:hover {
            background: #ffffff;
            a {
                color: $button-bkgd-color;
            }
        }
    }
}

// ######################################################################### //

/* TABLET VIEW */

@media (min-width: $min-tab) {
    .paragraph--type--gung-category-tiles-frame {
        .category-tiles-link-content {
            max-width: 44em;
            .category-tile-link-flex {
                .category-tiles-link--field-gung-cat-button-link {
                    width: 18%;
                    // margin: 1%;
                    min-height: 120px;
                    //display: inline-block;
                    //vertical-align: top;
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
} // END MIN TABLET VIEW
// ######################################################################### //

/* LARGER TABLET VIEW */

@media (min-width: $min-desktop) {
    .paragraph--type--gung-category-tiles-frame {
        .category-tiles-link-content {
            max-width: 54em;
            .category-tile-link-flex {
                .category-tiles-link--field-gung-cat-button-link {
                    width: 18%;
                    //margin: 1%;
                    min-height: 140px;
                    line-height: 20px;
                    //display: flex;
                    a {
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
} // END MIN TABLET VIEW
// ######################################################################### //

/* PC VIEW */

@media (min-width: $max-pc) {
    .paragraph--type--gung-category-tiles-frame {
        .category-tiles-title {
            font: $category-tiles-title-desktop;
        }
        .category-tiles-headline {
            font: $category-tiles-headline-desktop;
        }
        .category-tiles-link-content {
            max-width: 88em;
            .category-tile-link-flex {
                .category-tiles-link--field-gung-cat-button-link {
                    min-height: 140px;
                    width: 21%;
                    margin: 1%;
                    margin-top: 20px;
                    a {
                        font-size: 18px;
                        letter-spacing: .15em;
                    }
                }
            }
        }
    }
} // END MIN PC VIEW
// ######################################################################### //

/* MAX PC VIEW */

@media (min-width: 1400px) {
    .paragraph--type--gung-category-tiles-frame {
        .category-tiles-link-content {
            max-width: 77em;
            .category-tile-link-flex {}
        }
    }
} // END MAX PC VIEW
// ######################################################################### //

/* IE9 STYLING */

@media screen\0 {
    .category-tiles-landing {
        /* clears the frame so the background color is there */
        &:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }
    .category-tiles-link--field-gung-cat-button-link {
        float: left;
        margin-left: 5px;
    }
}