// Generic Page Content
//
// Generic Page Content styling
//
// Markup: generic_page.hbs
//
// Style guide: components.generic_page
// color variables
$gp-frame-bkgd-color: $color-secondary !default;
$gp-frame-title-color: $color-mono-black !default;
$gp-frame-headline-color: $color-mono-white !default;
$gp-frame-descriptor-title-color: $color-mono-white !default;
$gp-frame-descriptor-text-color: $color-mono-black !default;
$gp-frame-descriptor-border: $color-secondary !default;
$gp-frame-button: $color-mono-white !default;
