// Get Involved
//
// Get Involved styling.
//
// Markup: get_involved.hbs
//
// Style guide: components.get_involved
// color variables (default - primary)
$get-inv-frame-bkgd-color: $color-accent-primary !default;
$get-inv-frame-title-color: $color-mono-black !default;
$get-inv-frame-headline-color: $color-primary !default;
$get-inv-frame-description-color: $color-mono-black !default;
// color variables (secondary)
$get-inv-frame-bkgd-color-secondary: $color-secondary !default;
$get-inv-frame-title-color-secondary: $color-mono-black !default;
$get-inv-frame-headline-color-secondary: $color-mono-white !default;
// color variables (monochrome light)
$get-inv-frame-bkgd-color-monochrome: $color-mono-lt !default;
$get-inv-frame-title-color-monochrome: $color-mono-black !default;
$get-inv-frame-headline-color-monochrome: $color-mono-black !default;
// REASSIGNED VALS FOR GLOBAL SCOPE -- GET INVOLVED 
// this overrides general button variables in config.scss
$getinv-button-border-color: $color-mono-black !default;
$getinv-button-text-color: $color-mono-black !default;
$getinv-button-back-color: $button-bkgd-transparent !default;
$getinv-button-hover-back-color: $button-white-50 !default;
// Secondary button colors 
$getinv-button-border-color-secondary: $button-border-color !default;
$getinv-button-text-color-secondary: $button-text-color !default;
$getinv-button-hover-back-color-secondary: $button-black-50 !default;
// Monochrome button colors 
$getinv-button-border-color-monochrome: $color-primary !default;
$getinv-button-text-color-monochrome: $button-text-color !default;
$getinv-button-back-color-monochrome: $button-bkgd-color!default;
$getinv-button-hover-back-color-monochrome: $color-mono-black !default;
// this overrides the a value set in buttons.scss and the div value below
$frame-button-max-width: 450px;
// ######################################################################### //

/* START STYLING MOBILE FIRST UNDER HERE */

.paragraph {
    display: block;
}

.paragraph--type--gung-get-involved-pgtype {
    background-color: $get-inv-frame-bkgd-color;
    margin: 0 auto;
    text-align: center;
    padding: $frame-padding-lg 3%;
    position: relative;
}

.get-involved--field-gung-get-involved-title {
    font: $frame-title;
    color: $get-inv-frame-title-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.get-involved--field-gung-get-inv-headline {
    font: $frame-headline;
    color: $get-inv-frame-headline-color;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.25em; //3rem;
}

.front .get-involved--field-gung-get-inv-headline {
    font: $frame-headline-front;
}

.get-involved--field-gung-get-inv-description {
    font-family: $base-font;
    font-size: $frame-base-font-size;
    line-height: $frame-base-line-height;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.get-involved--cta-wrapper>div {
    display: flex;
    flex-flow: column;
    max-width: 410px;
    margin: auto;
}

.get-involved--field-gung-get-inv-cta {
    margin: 40px 1% 0 1%; // for vertical spacing of buttons on mobile and old IE browsers on desktop
    flex-grow: 1; // so buttons stretch to available space
    width: 400px;
    max-width: $frame-button-max-width; // but buttons shouldn't stretch too much
    text-align: center;
    border: $frame-button-border-size solid $getinv-button-border-color; //applying to div class for stretchy buttons
    &:hover {
        background-color: $getinv-button-hover-back-color;
        border-color: $getinv-button-border-color;
    }
    a {
        // BUTTON DYNAMIC REQUIREMENTS
        //border: $frame-button-border-size solid $getinv-button-border-color;
        color: $getinv-button-text-color;
        background-color: $getinv-button-back-color;
        //this max-width overrides the one set in buttons.scss
        &:hover {
            text-decoration: none;
        }
    }
    // BUTTON CALLS
    @include frame-button-base();
}

// if secondary background color is selected for frame
.paragraph--type--gung-get-involved-pgtype.secondary {
    background-color: $get-inv-frame-bkgd-color-secondary;
    .get-involved--field-gung-get-involved-title {
        color: $get-inv-frame-title-color-secondary;
    }
    .get-involved--field-gung-get-inv-headline {
        color: $get-inv-frame-headline-color-secondary;
    }
    .get-involved--field-gung-get-inv-cta {
        border: $frame-button-border-size solid $getinv-button-border-color-secondary;
        &:hover {
            border-color: $getinv-button-border-color-secondary;
            background-color: $getinv-button-hover-back-color-secondary;
        }
        a {
            color: $getinv-button-text-color-secondary;
        }
    }
}

// if monochrome light background color is selected for frame
.paragraph--type--gung-get-involved-pgtype.monochrome {
    background-color: $get-inv-frame-bkgd-color-monochrome;
    .get-involved--field-gung-get-involved-title {
        color: $get-inv-frame-title-color-monochrome;
    }
    .get-involved--field-gung-get-inv-headline {
        color: $get-inv-frame-headline-color-monochrome;
    }
    .get-involved--field-gung-get-inv-cta {
        border: $frame-button-border-size solid $getinv-button-border-color-monochrome;
        background-color: $getinv-button-back-color-monochrome;
        &:hover {
            background-color: $getinv-button-hover-back-color-monochrome;
            border-color: $getinv-button-border-color-monochrome;
        }
        a {
            color: $getinv-button-text-color-monochrome;
        }
    }
}

// ######################################################################### //

/* PC VIEW */

@media (min-width: $min-pc) {
    .get-involved--cta-wrapper>div {
        flex-flow: row;
        justify-content: center;
        max-width: none;
    }
    .get-involved--field-gung-get-inv-cta {
        margin: 40px 1% 0 1%;
    }
} // END MIN PC VIEW
// ####################################################################### //

/* IE 9 Styilng 10 getting it too */

@media screen\0 {
    @media (min-width: $min-pc) {
        // keep cta buttons in IE 9 from going too wide - remove once IE9 not supported
        .get-involved--cta-wrapper {
            //max-width: 70%;
            //margin: 0 auto;
            position: relative;
            margin-bottom: 3em;
            &>div {
                position: relative;
                margin: 0 auto;
                float: left;
                width: 100%;
                text-align: center;
                &>div {
                    display: inline-block;
                    float: left;
                    width: 50%;
                }
            }
        }
    }
}