// Global Navigation Header
//
// Styling for Module elements (port for distro)
//
// Markup: global_navigation_header.hbs
//
// Style guide: components.global_navigation
// ########################################################################################
// VARS
// generic
$gung-global-prefix: 'gung-global-';
$min-width-breakpoint: 768px;
$max-width-breakpoint: 1024px;
$max-width-breakpoint-min: 1025px;
$horizontal-menu-stacked-size: 53px;
$drop-down-width-mobile: 255px;
$drop-down-width-hor-5-tablet: 170px;
$drop-down-width-tablet: 300px;
$drop-down-width-desktop: 300px;
$medium-screen-link-height: 75px;
$menu-semi-bold: 600;
$menu-hover-bold: 700;
// text
$base-font: "Proxima Nova",
Arial,
sans-serif;
$agency-name-font: "D Sari Bold",
Arial,
sans-serif; // used in header and footer
// padding
$nav-title-padding: 15px 30px 8px 30px; // kept in case anyone still uses this variable
$nav-title-padding-tablet: 15px 30px 1px 30px;
$common-link-padding: 26px 48px 26px 30px;
$horizontal-link-padding: 8px 15px;
$horizontal-tall-link-padding: 25px;
$horizontal-sub-link-padding: 15px;
$submenu-padding: 5px 0px;
$extra-padding: 0px 0px;
$nav-fore-color: #fff;
$nav-weight: bold;
//depracated
$default-font-size: 1em;
$default-constrained-font-size: .8em;
$nav-title-size: 1.4em;
$big-nav-title-size: 1.375em;
// border
$common-wide-border: 1px solid #fff;
// icons
// menu arrows
$menu-arrow-size: 16px;
$menu-arrow-size-tablet: 18px;
$menu-arrow-top: 39%;
$menu-arrow-top-tablet: 38%;
$menu-arrow-right: 10px;
$menu-arrow-left: 18px;
$menu-arrow-left-top: 30px;
$menu-arrow-left-top-tablet: 31px;
$menu-arrow-active-link-padding: 48px;
// GLOBAL NAVIGATION COLORS
$globalnav-primary-color: $color-primary !default;
$globalnav-secondary-color: $button-black-50 !default;
$menu-semi-bold: 600;
$menu-hover-bold: 600;

/****  mixin  ****/

@mixin portal-login($minWidth, $width) {
    min-width: $minWidth;
    width: $width;
    height: 41px;
    border-radius: 60px; // text-align: right;
    // padding-right: 25px;
    margin: 16px 12px;
    background: $color-accent-primary url('../icons/gung/portal.svg') bottom left no-repeat;
    background-size: 26px 25px;
    background-position: 12px 5px;
    a {
        font-weight: bold;
        color: #000000;
        height: 42px;
        padding-left: 40px;
        &:hover {
            border-radius: 60px;
            background: inherit;
            background-size: inherit;
            background-position: inherit;
        }
    }
}

// ########################################################################################
// MIXINS
@mixin in-context-menu() {
    >ul {
        position: relative;
        display: block;
        border-top: 0;
        width: auto; // vertical-align: bottom;
        a,
        span {
            border-bottom-width: 0;
            padding: $horizontal-link-padding;
        }
        li,
        li.hidden {
            display: inline-block;
            vertical-align: bottom;
            ul {
                position: absolute;
                width: auto;
                border-top: $common-wide-border;
                li {
                    display: block;
                    a,
                    span {
                        padding: $horizontal-sub-link-padding;
                    }
                }
            }
        }
    }
    .nav-toggle {
        display: none;
    }
}

// tool mixins
// Calculate numbers such as a percent width then subtracting a number
@mixin calc($property,
$expression,
$importance: null) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression}) $importance;
}

// ########################################################################################
// MAIN HEADER SASS
.#{$gung-global-prefix}header {
    color: $nav-fore-color;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .018em;
    position: relative;
    font-weight: $nav-weight;
    font-style: normal;
    z-index: 500;
    width: 100%; // width: auto;
    // max-width: 2100px;
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $nav-fore-color;
        text-decoration: none;
    }
    .gung-global-logo {
        height: 80px;
        img {
            padding: 17px 0 18px 0;
        }
    }
    h1 {
        font-family: $agency-name-font;
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: $nav-weight;
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            display: block;
            padding-left: 30px;
            padding-right: 30px;
            color: $nav-fore-color;
            font-family: $agency-name-font;
        }
        a:hover {
            text-decoration: none;
            color: $nav-fore-color;
        }
    }
    ul {
        padding: $extra-padding;
        margin: 0;
        display: none;
        li {
            padding: 0;
            margin: 0;
            &.#{$gung-global-prefix}inactive {
                display: none;
            }
            &.#{$gung-global-prefix}active ul {
                display: block;
            }
        }
    }
    ul>li>a[href='#']:after,
    ul>li>span:after {
        background-image: url('../icons/icon-arrow-right.png');
        background-image: linear-gradient(transparent, transparent), url('../icons/icon-arrow-right.svg');
        background-size: $menu-arrow-size;
        background-repeat: no-repeat;
        width: 2em;
        height: 1.2em;
        content: '';
        position: absolute;
        right: $menu-arrow-right;
        top: $menu-arrow-top;
    }
    >ul {
        position: absolute;
        width: $drop-down-width-mobile;
        border-top: $common-wide-border;
        z-index: 200;
        li {
            display: block;
            list-style: none;
            position: relative;
            &.#{$gung-global-prefix}active>a:link,
            &.#{$gung-global-prefix}active>a:visited,
            &.#{$gung-global-prefix}active>span {
                padding-left: $menu-arrow-active-link-padding;
                font-weight: $nav-weight;
                letter-spacing: .03em; // color: transparent;
            }
            &.#{$gung-global-prefix}active>a:before,
            &.#{$gung-global-prefix}active>span:before {
                background-image: url('../icons/icon-arrow-left.png');
                background-image: linear-gradient(transparent, transparent), url('../icons/icon-arrow-left.svg');
                background-size: $menu-arrow-size;
                background-repeat: no-repeat;
                width: 2em;
                height: 1.2em;
                display: inline-block;
                content: '';
                position: absolute;
                left: $menu-arrow-left;
                top: $menu-arrow-left-top;
            }
            &.#{$gung-global-prefix}active>a:after,
            &.#{$gung-global-prefix}active>span:after {
                background-image: none;
            }
            a:link,
            a:visited,
            span {
                display: block;
                padding: $common-link-padding;
                font-family: $base-font;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                text-decoration: none;
                color: $nav-fore-color;
            }
            a:hover {
                text-decoration: none;
                color: $nav-fore-color;
                cursor: pointer;
            }
            .gnav-topli {
                span:hover {
                    color: $nav-fore-color;
                }
            }
            ul {
                padding: 0;
                display: none;
                position: initial;
                z-index: 5;
                width: 100%;
                >li>a {
                    cursor: pointer;
                }
                >li>span {
                    letter-spacing: .02em;
                    font-weight: $nav-weight;
                }
            }
        }
    }
    .#{$gung-global-prefix}active {
        display: block;
    } // button for opening the menu on mobile devices
    .nav-toggle {
        text-indent: -9999px;
        color: transparent;
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            width: 65px;
            height: 80px;
            display: block;
            background-image: url('../icons/icon-menu.png');
            background-image: linear-gradient(transparent, transparent), url('../icons/icon-menu.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        a {
            float: left;
        }
        a.gung-global-active {
            // float: right;
        }
    } // Tablet
    @media (min-width: $min-width-breakpoint) {
        &.horizontal {
            font-weight: $nav-weight;
            &.alt-unav {
                h1 {
                    a {
                        display: none;
                    }
                }
            }
            h1 {
                a,
                a:link,
                a:visited,
                a:hover,
                a:active {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
            &.unstacked {
                font-size: 14px;
                line-height: 18px;
                min-height: 80px;
                @include in-context-menu();
                .gung-global-logo {
                    float: left;
                    height: 80px;
                    img {
                        padding: 17px 0 18px 30px;
                    }
                }
                h1 {
                    height: auto;
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active {
                        padding: $nav-title-padding-tablet;
                    }
                }
                >ul {
                    padding: 23px 0 23px 15px;
                    display: inline-block;
                    &>li>a:hover {
                        text-decoration: none;
                    }
                    &>li>span:hover {
                        text-decoration: none;
                    }
                    li {
                        a,
                        a:link,
                        a:visited,
                        a:hover,
                        a:active,
                        span {
                            font-weight: $menu-semi-bold;
                            font-size: 14px;
                            letter-spacing: .03em;
                            padding-left: 15px;
                        }
                        ul {
                            width: $drop-down-width-hor-5-tablet;
                            li {
                                a,
                                a:link,
                                a:visited,
                                a:hover,
                                a:active,
                                span {
                                    font-size: 12px;
                                    line-height: 17px;
                                    font-weight: $nav-weight;
                                }
                            }
                        }
                    }
                }
                ul>li>a[href='#']:after,
                ul>li>span:after {
                    background-image: none;
                    width: 0;
                    margin: 0;
                    display: none;
                }
                >ul li.#{$gung-global-prefix}active>a:before,
                >ul li.#{$gung-global-prefix}active>span:before {
                    background-image: none;
                    width: 0;
                    margin: 0;
                    display: none;
                }
            }
            &.stacked {
                font-size: 16px;
                line-height: 22px;
                letter-spacing: .03em;
                .gung-global-logo {
                    img {
                        padding: 15px 0 15px 0;
                    }
                }
                >ul {
                    width: $drop-down-width-tablet;
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                    span {
                        font-weight: $nav-weight;
                    }
                    li.#{$gung-global-prefix}active>a:before,
                    li.#{$gung-global-prefix}active>span:before {
                        background-size: $menu-arrow-size-tablet;
                        top: $menu-arrow-left-top-tablet;
                    }
                }
                >ul>li>a[href='#']:after,
                >ul>li>span:after {
                    background-size: $menu-arrow-size-tablet;
                    top: $menu-arrow-top-tablet;
                }
            }
        }
    } // Desktop
    @media (min-width: $max-width-breakpoint) {
        .gung-global-header h1 {
            height: 0;
        }
        &.horizontal {
            >ul,
            h1 {
                display: inline-block;
            }
            &.alt-unav {
                h1 {
                    a {
                        display: none;
                    }
                }
            }
        }
        &.unstacked.horizontal,
        &.stacked.horizontal {
            height: auto;
            font-size: 16px;
            &>ul>li>a:hover {
                text-decoration: none;
                color: $nav-fore-color;
            }
            &>ul>li>span:hover {
                text-decoration: none;
                color: $nav-fore-color;
            }
            h1 {
                padding-left: 60px;
                a,
                a:link,
                a:visited,
                a:hover,
                a:active {
                    padding: 0;
                    font-size: 22px;
                    line-height: 26px;
                    display: table-cell;
                    height: $medium-screen-link-height;
                    vertical-align: middle;
                    span {
                        display: inline-block;
                    }
                }
            }
            >ul {
                padding: 0 0 0 60px;
                li {
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                    span {
                        font-size: 16px;
                        letter-spacing: .03em;
                        display: table-cell;
                        height: $medium-screen-link-height;
                        vertical-align: middle;
                        padding: 0 15px;
                        color: $nav-fore-color;
                        &:before,
                        &:after {
                            background-image: none;
                        }
                    }
                    ul {
                        padding: $submenu-padding;
                        top: auto;
                        width: $drop-down-width-desktop;
                        li {
                            height: auto;
                            a,
                            a:link,
                            a:visited,
                            a:hover,
                            a:active,
                            span {
                                font-size: 14px;
                                line-height: 20px;
                                height: auto;
                                display: block;
                                padding: 15px;
                            }
                        } // HIDE TOP LINKS ON DROPDOWN ON DESKTOP
                        li.gnav-toplink {
                            display: none;
                        }
                    }
                    &:last-child ul {
                        left: auto;
                    }
                }
            }
        }
        &.unstacked.horizontal {
            min-height: 75px;
            .gung-global-logo {
                float: left;
                min-height: 75px;
                img {
                    padding: 15px 0 15px 60px;
                }
            } // >h1 {
            //   /*margin: 10px;*/
            // }
            >ul {
                padding: 0 0 0 45px;
                li {
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                    span {
                        height: 75px;
                    }
                }
            }
            &.alt-unav {
                h1 {
                    display: none;
                }
            }
        }
        &.stacked.horizontal {
            @include in-context-menu(); // min-height: 115px;
            min-height: 75px; // overflow: -webkit-paged-y;
            .gung-global-logo {
                img {
                    padding: 15px 0 15px 60px;
                }
            }
            &.alt-unav {
                min-height: 75px;
                h1 {
                    a {
                        display: none;
                    }
                } // ul {}
            }
            h1 {
                display: block;
                width: auto;
                height: 0;
                a,
                a:link,
                a:visited,
                a:hover,
                a:active {
                    height: 44px;
                    padding-top: 17px;
                }
            }
            >ul {
                padding: 0 0 0 45px;
                display: block;
                li {
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                    span {
                        height: 75px;
                    }
                    ul {
                        top: auto;
                        height: auto;
                        width: $drop-down-width-desktop;
                        li {
                            a,
                            a:link,
                            a:visited,
                            a:hover,
                            a:active,
                            span {
                                height: auto;
                                padding: $horizontal-sub-link-padding;
                            }
                        }
                    }
                }
            }
            ul>li>a[href='#']:after,
            ul>li>span:after {
                background-image: none;
                width: 0;
                margin: 0;
                display: none;
            }
            >ul li.#{$gung-global-prefix}active>a:before,
            >ul li.#{$gung-global-prefix}active>span:before {
                background-image: none;
                width: 0;
                margin: 0;
                display: none;
            }
        }
        /* 
     GW: debug Gung D8 Main Navigation Menu 
  */
        ul.gnav-ul {
            align-items: center;
            padding: 26px; // margin: 0 0 20px 0;
            // height: 75px;
            font-family: serif;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            li.gnav-topli {
                height: 75px; // line-height: 1.18;
                a {
                    // height: 42px;
                    font-weight: normal;
                }
                &:nth-child(1) {
                    display: inline-block;
                    width: 227px; // height: 53px;
                    font-weight: bold; // line-height: 1.18;
                    text-align: left; // padding-top: 20px;
                    a {
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
                &:nth-child(2) {
                    width: 203px;
                }
                &:nth-child(3) {
                    width: 219px;
                }
                &:nth-child(4) {
                    width: 171px;
                }
                &:nth-child(5) {
                    width: 205px;
                }
                &:nth-child(6) {
                    width: 116px;
                }
                &:nth-child(7) {
                    border: none;
                    float: right;
                    @include portal-login(131px,
                    153px);
                    &:hover {
                        font-weight: $menu-hover-bold;
                        background: #e5eeee url(../icons/gung/portal.svg) bottom left no-repeat;
                        background-size: 26px 25px;
                        background-position: 12px 5px;
                    }
                }
                &:nth-child(8) {
                    // width: 15%;
                    width: 12%;
                    height: 41px;
                    float: right;
                    min-width: 150px;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    margin-left: 1.5%;
                    padding-left: 3%;
                    border: solid 2px #b6c3c2;
                    border-radius: 35px;
                    box-sizing: border-box;
                    background: url(../icons/gung/search_white.svg) bottom left no-repeat;
                    background-size: 24px 24px;
                    background-position: 14px 8px;
                    fill: #dddddd;
                    a {
                        color: #79a0a2;
                        height: 42px;
                        &:hover {
                            // background-color: $color-primary;
                            background-color: inherit;
                        }
                    }
                }
            }
        } // GW End
    } // Desktop - for IE8, and its fate, that we code for old browsers at this rate.
    @media screen and (min-width: $max-width-breakpoint) and (max-width:1600px) {
        /* 
     GW: debug Gung D8 Main Navigation Menu 
  */
        ul.gnav-ul {
            li.gnav-topli {
                &:nth-child(1) {
                    // width: 227px; //223px; (not fit in Safari) // height: 53px;
                }
                &:nth-child(2) {
                    // width: 120px;
                    width: 9.9%;
                }
                &:nth-child(3) {
                    // width: 135px;
                    width: 10.5%;
                }
                &:nth-child(4) {
                    // width: 130px;
                    width: 8%;
                }
                &:nth-child(5) {
                    width: 10.6%;
                }
                &:nth-child(6) {
                    // width: 100px;
                    width: 9.5%;
                }
                &:nth-child(7) {
                    min-width: 103px; // width: 103px;
                    // width: 10%;
                }
                &:nth-child(8) {
                    width: 12%; // min-width: 145px;
                    min-width: 120px;
                    margin-left: 1.4%;
                    padding-left: 3%;
                }
            }
        } // GW End
    }
    @media \0screen {
        &.horizontal {
            >ul,
            h1 {
                display: inline-block;
            }
            &.alt-unav {
                h1 {
                    a {
                        display: none;
                    }
                }
            }
        }
        &.unstacked.horizontal,
        &.stacked.horizontal {
            height: auto;
            font-size: 16px;
            &>ul>li>a:hover {
                text-decoration: none;
            }
            &>ul>li>span:hover {
                text-decoration: none;
            }
            h1 {
                width: $drop-down-width-desktop;
                padding-left: 30px;
                a,
                a:link,
                a:visited,
                a:hover,
                a:active {
                    padding: 0;
                    font-size: 22px;
                    line-height: 26px;
                    display: table-cell;
                    height: $medium-screen-link-height;
                    vertical-align: middle;
                    padding-left: 15px;
                    span {
                        display: inline-block;
                    }
                }
            }
            >ul {
                padding: 0 0 0 30px;
                li {
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                    span {
                        font-size: 16px;
                        letter-spacing: .03em;
                        display: table-cell;
                        height: $medium-screen-link-height;
                        vertical-align: middle;
                        padding: 0 15px;
                        &:before,
                        &:after {
                            background-image: none;
                        }
                    }
                    ul {
                        padding: $submenu-padding;
                        top: auto;
                        width: $drop-down-width-desktop;
                        li {
                            height: auto;
                            a,
                            a:link,
                            a:visited,
                            a:hover,
                            a:active,
                            span {
                                font-size: 16px;
                                line-height: 20px;
                                height: auto;
                                display: block;
                                padding: 15px;
                            }
                        }
                    }
                    &:last-child ul {
                        left: auto;
                    }
                }
            }
        }
        &.unstacked.horizontal {
            >h1 {
                margin: 10px;
            }
            >ul {
                li {
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                    span {
                        height: 95px;
                    }
                }
            }
            &.alt-unav {
                min-height: 75px;
                h1 {
                    display: none;
                }
            }
        }
        &.stacked.horizontal {
            @include in-context-menu();
            height: 148px;
            &.alt-unav {
                min-height: 75px;
                h1 {
                    a {
                        display: none;
                    }
                }
            }
            h1 {
                display: block;
                width: auto;
                height: auto;
                a,
                a:link,
                a:visited,
                a:hover,
                a:active {
                    height: 85px;
                }
            }
            >ul {
                display: block;
                li {
                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active,
                    span {
                        height: 63px;
                    }
                    ul {
                        top: auto;
                        height: auto;
                        width: $drop-down-width-desktop;
                        li {
                            a,
                            a:link,
                            a:visited,
                            a:hover,
                            a:active,
                            span {
                                height: auto;
                                padding: $horizontal-sub-link-padding;
                            }
                        }
                    }
                }
            }
            ul>li>a[href='#']:after,
            ul>li>span:after {
                background-image: none;
                width: 0;
                margin: 0;
                display: none;
            }
            >ul li.#{$gung-global-prefix}active>a:before,
            >ul li.#{$gung-global-prefix}active>span:before {
                background-image: none;
                width: 0;
                margin: 0;
                display: none;
            }
        }
    }
}

.gung-global-nav-content-container {
    @media (min-width: 1024px) {
        margin-left: 330px;
    }
}

.#{$gung-global-prefix}header {
    background-color: $color-primary;
    &>ul {
        background-color: $color-primary;
        a,
        span {
            border-bottom-color: mix( $color-primary, #fff, 85%);
        }
        a:hover,
        a:active,
        span:hover {
            background-color: $globalnav-secondary-color;
        }
        &>span:hover {
            text-decoration: none;
        }
        ul {
            background-color: $color-primary;
        }
    }
    @media (min-width: $min-width-breakpoint) {
        &.horizontal {
            &.unstacked {
                ul {
                    li {
                        a:hover,
                        a:active,
                        span:hover {
                            background-color: $color-primary;
                        }
                        &>span:hover {
                            text-decoration: none;
                        }
                        ul>li {
                            a:hover,
                            a:active,
                            span:hover {
                                background-color: $globalnav-secondary-color;
                            }
                            &>span:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: $max-width-breakpoint) {
        &.horizontal {
            &.unstacked,
            &.stacked {
                ul {
                    li {
                        a:hover,
                        a:active,
                        span:hover {
                            background-color: $color-primary;
                        }
                        ul>li {
                            a:hover,
                            a:active,
                            span:hover {
                                background-color: $globalnav-secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and( min-width: 1024px) and (max-width: 1280px) {
    #gung-global-header ul.gnav-ul li.gnav-topli {
        &:nth-child(1) {
            width: 100%;
            height: 46px;
        }
        &:nth-child(n+2) {
            width: 12.9%;
        }
        &:nth-child(7) {
            width: 153px;
        }
        &:nth-child(8) {
            width: 14%;
        }
    }
}

@media screen and (max-width: 1023px) {
    /* 
     GW: debug Gung D8 Main Navigation Menu 
  */
    ul.gnav-ul {
        // padding: auto; // margin: 0 0 20px 0;
        li.gnav-topli {
            &:nth-child(1) {
                width: 223px; // height: 53px;
                display: none;
            }
            &:nth-child(n+1) {
                // width: 120px;
                width: auto;
            } // &:nth-child(7) {
            //   width: 100%;
            // }
            &:nth-child(8) {
                // width: 100%; // min-width: 145px;
                display: none; // margin-left: 0;
                // padding-left: 0;
            }
            a {
                font-weight: 600;
            }
        }
    } // GW End
    .gung-global-header ul.gnav-ul li.gnav-topli:nth-child(7) {
        padding: 13px 5px;
        a {
            display: inline-block;
            border: none;
            min-width: 119px;
            width: 119px;
            height: 18px;
            border-radius: 58px;
            margin: 0 23px;
            background: #f2a900 url(../icons/gung/portal.svg) bottom left no-repeat;
            background-position-x: left;
            background-position-y: bottom;
            background-size: 26px 25px;
            background-position: 16px 10px;
            padding: 15px 20px 15px 62px;
            color: black;
            &:hover {
                font-weight: $menu-hover-bold;
                background: #e5eeee url(../icons/gung/portal.svg) bottom left no-repeat;
                background-size: 26px 25px;
                background-position: 16px 10px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #gung-global-header>h1 {
        width: 223px;
    }
}

#gung-global-header ul li {
    a {
        font-weight: $menu-semi-bold;
        &:hover {
            font-weight: $menu-hover-bold;
        }
    }
}

@media screen and (max-width: 671px) {
    #ny-universal-navigation #gung-header {
        top: 70px !important; // .l-region--header > .pane-ny-gov-global-menu {
        //   // height: 0 !important;
        // }
    } // #gung-universal-navigation {
    //   // z-index: 502;
    //   // position: inherit;
    // }
}