// Landing Page Content
//
// Landing Page Content styling
//Landing page teaser display for filter listings
.gung-teaser {
    .landing-summary-fieldwrapper {
        line-height: 1;
        height: 100px;
    }
}