// Teaser styles for Page Listing Item
.gung-teaser {
    .page-description-fieldwrapper {
        line-height: 1;
        height: 100px;
    }
}

// MOBILE
.teaser--type--gung-page {
    .gung-teaser-title {
        margin-bottom: 0;
    }
    .gung-teaser-content-wrapper__details {
        min-height: 250px;
    }
}

// TABLET
@media (min-width: $min-tab) {
    .teaser--type--gung-page {
        .gung-teaser-title {
            margin-bottom: 18px;
        }
        .gung-teaser-content-wrapper__details {
            min-height: 0px;
        }
    }
}

// DESKTOP
@media (min-width: $min-pc) {
    .teaser--type--gung-page {
        .gung-teaser-title {
            margin-bottom: 5px;
        }
        .gung-teaser-content-wrapper__details {
            min-height: 0px;
        }
    }
}