// GungWang Photo Gallery
//
// Styles for the GungWang Photo Gallery Frame (Paragraph Type)
//
// For more information please see the story sources: https://itsgung.atlassian.net/browse/NDD-1480
//
// Style guide: photo_gallery.hbs
// ##################################################################
// VARS
$gallery-frame-title-color: $color-primary !default;
$gallery-frame-headline-color: $color-mono-black !default;
$gallery-frame-headline-font-size: 24px;
$gallery-frame-headline-line-height: 30px;
// ##################################################################

/* MOBILE FIRST STYLES */

.gung-gallery-meta {
    margin: 0 auto 50px;
    h2 {
        margin: 0 auto;
        width: 90%;
        max-width: $max-pc;
        text-align: center;
        padding: 0;
        line-height: 1;
        padding-bottom: 0px;
        .frame-title {
            text-transform: uppercase;
            color: $gallery-frame-title-color;
            margin-bottom: 0;
            font: $frame_title;
            letter-spacing: 2px;
            text-align: center;
        }
        .frame-headline {
            color: $gallery-frame-headline-color;
            font: $frame-headline;
            text-align: center;
            display: block;
            .front & {
                font: 800 40px/1 "Proxima Nova", Arial, sans-serif;
            }
        }
    }
    .frame-description {
        p {
            margin: 0 auto;
        }
        width: 90%;
        margin: 20px auto 50px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
}

// =======================================================
// GALLERY CONTAINER
.gung-gallery {
    width: 352px;
    margin: 0 auto;
    .gung-gallery-main {
        opacity: 1;
        display: block;
        position: relative;
        width: 100%;
        .gung-gallery-container {
            margin: 0 auto;
            width: 100%;
            position: relative;
            overflow: hidden;
            line-height: 0;
            .gung-gallery-container-in {
                // INLINE BLOCK - https://davidwalsh.name/remove-whitespace-inline-block
                font-size: 0;
                width: 3520px;
                left: 0;
                display: block;
                margin: 0 auto;
                .gung-gallery-entry {
                    display: inline-block;
                    width: 352px;
                    margin: 0 auto;
                    img {
                        height: auto;
                    }
                    &:nth-child(1) {
                        //display: block;
                    }
                }
            }
            .gung-gallery-desc {
                margin: 0 auto;
                border: 1px solid #d9e2e2;
                width: 350px;
                //width: 3520px;
                .gung-gallery-fwd,
                .gung-gallery-back {
                    margin: 0 auto;
                    width: 8%;
                    content: "";
                    display: inline-block;
                    cursor: pointer;
                }
                .gung-gallery-fwd {
                    width: 10%;
                }
                .gung-gallery-fwd:before,
                .gung-gallery-back:before {
                    font-family: 'icomoon';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    display: block;
                    text-align: center;
                    cursor: pointer;
                    color: #128ec3;
                    // INLINE BLOCK - https://davidwalsh.name/remove-whitespace-inline-block
                    font-size: 14px;
                }
                .gung-gallery-back:before {}
                .gung-gallery-text {
                    width: 80%;
                    padding: 20px 0;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    line-height: 18px;
                }
                // LOAD INIT OF DESCRIPTIONS
                .gallery-desc-entry {
                    display: none;
                }
                .galdescactive.gallery-desc-entry:nth-child(1) {
                    display: block;
                }
                // DISPLAY BLOCK FOR ACTIVE GAL DESCRIPTION
                .gallery-desc-entry.galdescactive {
                    display: block;
                }
            } // END MAIN DESC
        }
    }
}

// =======================================================
// GALLERY MOBILE BUTTONS
.gung-gallery-mobile-pages {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    .galpage {
        border: 1px solid #000;
        border-radius: 20px;
        background: #000;
        opacity: 1;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        cursor: pointer;
    }
    .galpage.galactive {
        background: #fff;
    }
}

// ######################################################################### //

/* MIN TABLET VIEW */

@media (min-width: $min-tab) {
    .gung-gallery-meta {
        .frame-description {
            width: 90%;
            max-width: $max-pc;
        }
    }
    // =======================================================
    // GALLERY CONTAINER
    .gung-gallery {
        width: 474px;
        margin: 0 auto;
        .gung-gallery-main {
            opacity: 1;
            display: block;
            position: relative;
            width: 100%;
            .gung-gallery-container {
                margin: 0 auto;
                width: 474px;
                position: relative;
                overflow: hidden;
                .gung-gallery-container-in {
                    // INLINE BLOCK - https://davidwalsh.name/remove-whitespace-inline-block
                    font-size: 0;
                    width: 4740px;
                    left: 0;
                    display: block;
                    .gung-gallery-entry {
                        display: inline-block;
                        width: 474px;
                        img {
                            width: 474px;
                            height: 267px
                        }
                        &:nth-child(1) {
                            //display: block;
                        }
                    }
                }
                .gung-gallery-desc {
                    margin: 0 auto;
                    border: 1px solid #d9e2e2;
                    width: 472px;
                    .gung-gallery-fwd,
                    .gung-gallery-back {
                        margin: 0 auto;
                        width: 8%;
                        content: "";
                        display: inline-block;
                    }
                    .gung-gallery-fwd {
                        width: 10%;
                    }
                    .gung-gallery-fwd:before,
                    .gung-gallery-back:before {
                        font-family: 'icomoon';
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        display: block;
                        text-align: center;
                        cursor: pointer;
                        color: #128ec3;
                        // INLINE BLOCK - https://davidwalsh.name/remove-whitespace-inline-block
                        font-size: 14px;
                    }
                    .gung-gallery-back:before {}
                    .gung-gallery-text {
                        width: 80%;
                        padding: 20px 0;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}

// ######################################################################### //

/* MIN DESKTOP VIEW */

@media (min-width: $min-pc) {
    .gung-gallery-meta {
        .frame-description {
            width: 80%;
            max-width: $max-pc;
        }
    }
    .gung-gallery-mobile-pages {
        display: none;
    }
    .gung-gallery {
        width: 630px;
        margin: 0 auto;
        .gung-gallery-main {
            .gung-gallery-container {
                margin: 0 auto;
                width: 100%;
                position: relative;
                overflow: hidden;
                .gung-gallery-container-in {
                    width: 6300px;
                    left: 0;
                    display: block;
                    .gung-gallery-entry {
                        width: 630px;
                        img {
                            width: 630px;
                            height: 355px
                        }
                    }
                    // END ENTRY
                } // END CONTAINER-IN
                .gung-gallery-desc {
                    width: 628px;
                    .gung-gallery-fwd,
                    .gung-gallery-back {
                        margin: 0 auto;
                        width: 9%;
                    }
                    .gung-gallery-fwd:before,
                    .gung-gallery-back:before {
                        font-family: 'icomoon';
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        display: block;
                        text-align: center;
                        cursor: pointer;
                        color: #128ec3;
                    }
                    .gung-gallery-back {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .gung-gallery-back:before {
                        content: "\e60d";
                    }
                    .gung-gallery-text {
                        width: 80%;
                        padding: 20px 0;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 16px;
                        line-height: 18px;
                    }
                    .gung-gallery-fwd {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .gung-gallery-fwd:before {
                        content: "\e624";
                    }
                } // END DESC
            } // END CONTAINER
        } // END OF MAIN
    } // END OF GALLERY
}

// ######################################################################### //

/* FULL DESKTOP VIEW */

@media (min-width: 60em) {}