// Plan Summary
//
// Plan Summary styling.
//
// Markup: plan-summary.hbs
//
// Style guide: components.plan_summary
// color variables (default-secondary)
$summary-frame-bkgd-color: $color-secondary !default;
$summary-frame-title-color: $color-mono-black !default;
$summary-frame-headline-color: $color-mono-white !default;
$summary-frame-keypt-title-color: $color-mono-white !default;
$summary-frame-keypt-text-color: $color-mono-black !default;
$summary-frame-keypt-border: $color-mono-white !default;
$summary-frame-button: $color-mono-white !default;
// color variables (primary)
$summary-frame-bkgd-color-primary: $color-accent-primary !default;
$summary-frame-title-color-primary: $color-mono-black !default;
$summary-frame-headline-color-primary: $color-primary !default;
$summary-frame-description-color-primary: $color-mono-black !default;
$summary-frame-keypt-border-primary: $color-mono-white !default;
// color variables (monochrome light )
$summary-frame-bkgd-color-monochrome: $color-mono-lt !default;
$summary-frame-title-color-monochrome: $color-mono-black !default;
$summary-frame-headline-color-monochrome: $color-mono-black !default;
$summary-frame-keypt-title-color-monochrome: $color-primary !default;
$summary-frame-keypt-border-monochrome: $color-primary !default;
// REASSIGNED VALS FOR GLOBAL SCOPE -- SUMMARY
// this overrides general button variables in config.scss
$summary-button-border-color: $button-border-color !default;
$summary-button-text-color: $button-text-color !default;
$summary-button-back-color: $button-bkgd-transparent !default;
$summary-button-hover-back-color: $button-black-50 !default;
// Primary button colors
$summary-button-border-color-primary: $color-mono-black !default;
$summary-button-text-color-primary: $color-mono-black !default;
$summary-button-back-color-primary: $button-bkgd-transparent !default;
$summary-button-hover-back-color-primary: $button-white-50 !default;
// Monochrome button colors 
$summary-button-border-color-monochrome: $color-primary !default;
$summary-button-text-color-monochrome: $button-text-color !default;
$summary-button-back-color-monochrome: $button-bkgd-color!default;
$summary-button-hover-back-color-monochrome: $color-mono-black !default;
// ######################################################################### //

/* START STYLING MOBILE FIRST UNDER HERE */

.paragraph {
    display: block;
}

.paragraph--type--gung-summary-pgtype {
    background-color: $summary-frame-bkgd-color;
    //margin: 0 auto;
    text-align: center;
    //padding: $frame-padding-lg 3%;
    padding: 70px 3% 60px 3%;
}

.summaryframe-inner {
    max-width: $max-pc;
    margin: 0 auto;
}

.keypoint--field-gung-summary-title {
    //font-family: $oswald;
    //font-weight: bold;
    //font-size: $frame-title;
    //font-weight: 800;
    font: $frame-title;
    color: $summary-frame-title-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    // padding-top: 1%; // the padding set on the main frame should give the 80px
    // padding-bottom: 1%; // need to evaluate this when changing these to headings
}

.keypoint--field-gung-summary-headline {
    //font-family: $base-font;
    font: $frame-headline;
    //font-weight: 800;
    //font: $frame-headline;
    //font: 48px "Proxima Nova Extrabold",Arial,sans-serif;
    color: $summary-frame-headline-color;
    text-align: center;
    //margin-bottom: 50px;
    line-height: 3rem;
}

.front .keypoint--field-gung-summary-headline {
    font: $frame-headline-front;
}

.keypoint {
    display: inline-block;
    width: 95%;
    padding: 0 1%;
    overflow: auto;
    vertical-align: top;
    text-align: center;
}

.keypoint--field-gung-summary-keypoint1,
.keypoint--field-gung-summary-keypoint2,
.keypoint--field-gung-summary-keypoint3 {
    font-family: $base-font;
    font-size: 1.222em;
    font-weight: bold;
    //font: 22px "Proxima Nova Bold",Arial,sans-serif;
    line-height: 26px;
    color: $summary-frame-keypt-title-color;
    margin: 20px 0;
    height: 52px;
}

.keypoint--field-gung-summary-argument1,
.keypoint--field-gung-summary-argument2,
.keypoint--field-gung-summary-argument3 {
    font-family: $base-font;
    //font-size: 0.7778rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $summary-frame-keypt-text-color;
    padding: 0 16px;
    margin-bottom: 30px;
}

.keypoint--field-gung-summary-argument1 p,
.keypoint--field-gung-summary-argument2 p,
.keypoint--field-gung-summary-argument3 p {
    text-align: center;
    font-weight: 600;
}

.keypoint:nth-of-type(2n+2) {
    border-top: 1px solid rgba($summary-frame-keypt-border, .2);
}

.keypoint:nth-of-type(1n+2) {
    border-top: 1px solid rgba($summary-frame-keypt-border, .2);
    border-bottom: 1px solid rgba($summary-frame-keypt-border, .2);
}

.sectionBorder {
    display: inline-block;
    border-top: 1px solid;
    border-top-color: rgba($summary-frame-keypt-border, .2);
    border-left: 0px;
    width: 100%;
    margin: 1% 0;
}

.keypoint--field-gung-summary-cta {
    a {
        // BUTTON DYNAMIC REQUIREMENTS
        border: $frame-button-border-size solid $summary-button-border-color;
        color: $summary-button-text-color;
        background-color: $summary-button-back-color;
        padding: 18px 20px 0 20px !important;
        height: 48px !important;
        font-size: 13px !important;
        min-width: 0 !important;
        &:visited,
        &:link {
            color: $summary-button-text-color;
        }
        &:hover {
            background-color: $summary-button-hover-back-color;
            text-decoration: none;
        }
    }
    clear: both;
    // BUTTON CALLS
    @include frame-button-base();
}

// if primary background color is selected for frame
.paragraph--type--gung-summary-pgtype.primary {
    background-color: $summary-frame-bkgd-color-primary;
    .keypoint--field-gung-summary-title {
        color: $summary-frame-title-color-primary;
    }
    .keypoint--field-gung-summary-headline {
        color: $summary-frame-headline-color-primary;
    }
    .keypoint--field-gung-summary-cta {
        a {
            color: $summary-button-text-color-primary;
            border: $frame-button-border-size solid $summary-button-border-color-primary;
            &:hover {
                border-color: $summary-button-border-color-primary;
                background-color: $summary-button-hover-back-color-primary;
            }
        }
    }
}

// if monochrome light background color is selected for frame
.paragraph--type--gung-summary-pgtype.monochrome {
    background-color: $summary-frame-bkgd-color-monochrome;
    .keypoint--field-gung-summary-title {
        color: $summary-frame-title-color-monochrome;
    }
    .keypoint--field-gung-summary-headline {
        color: $summary-frame-headline-color-monochrome;
    }
    .keypoint--field-gung-summary-keypoint1,
    .keypoint--field-gung-summary-keypoint2,
    .keypoint--field-gung-summary-keypoint3 {
        color: $summary-frame-keypt-title-color-monochrome;
    }
    .keypoint--field-gung-summary-cta {
        a {
            color: $summary-button-text-color-monochrome;
            background-color: $summary-button-back-color-monochrome;
            border: $frame-button-border-size solid $summary-button-border-color-monochrome;
            &:hover {
                background-color: $summary-button-hover-back-color-monochrome;
                border-color: $summary-button-border-color-monochrome;
            }
        }
    }
}

// ######################################################################### //

/* TABLET VIEW */

@media (min-width: 600px) {
    .keypoints {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .keypoint--field-gung-summary-argument1,
    .keypoint--field-gung-summary-argument2,
    .keypoint--field-gung-summary-argument3 {
        font-family: $base-font;
        font-size: 0.7778rem;
        font-weight: 600;
    }
    .keypoint--field-gung-summary-keypoint1,
    .keypoint--field-gung-summary-keypoint2,
    .keypoint--field-gung-summary-keypoint3 {
        height: 75px;
    }
    .keypoint {
        //  display: inline-block;
        float: left;
        width: 30%;
        //margin-bottom: 30px;
        margin: 0 30px 30px 30px;
        flex: 1 0 auto;
    }
    .keypoint:nth-of-type(2n+2) {
        border-left: 1px solid lighten($summary-frame-keypt-border, 20%);
        border-top: 0;
    }
    .keypoint:nth-of-type(1n+2) {
        border-left: 1px solid lighten($summary-frame-keypt-border, 20%);
        border-top: 0;
        border-bottom: 0;
    }
    .sectionBorder {
        width: auto;
        height: 225px;
        border-top: none;
        border-left: 2px solid;
        border-left-color: lighten($summary-frame-keypt-border, 20%);
        margin: 0 0.5%;
        float: left;
    }
    // if primary background color is selected for frame
    .paragraph--type--gung-summary-pgtype.primary {
        .keypoint:nth-of-type(2n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border-primary, 20%);
        }
        .keypoint:nth-of-type(1n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border-primary, 20%);
        }
        .sectionBorder {
            border-left-color: lighten($summary-frame-keypt-border-primary, 20%);
        }
    }
    // if monochrome light background color is selected for frame
    .paragraph--type--gung-summary-pgtype.monochrome {
        .keypoint:nth-of-type(2n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border-monochrome, 20%);
        }
        .keypoint:nth-of-type(1n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border-monochrome, 20%);
        }
        .sectionBorder {
            border-left-color: lighten($summary-frame-keypt-border-monochrome, 20%);
        }
    }
} // END MIN TABLET VIEW
// ######################################################################### //

/* PC VIEW */

@media (min-width: $min-pc) {
    .paragraph--type--gung-summary-pgtype {
        padding: 55px 3% 60px 3%;
    }
    .keypoints {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        //flex-flow: row nowrap;
        justify-content: center;
        margin: 50px 0;
        .keypoint {
            //padding: 1.5%;
            padding: 0;
            //margin-bottom: 30px;
            //margin: 0 30px 30px 30px;
            max-width: 360px; //with padding
            flex: 1 0 auto;
            margin: 0;
        }
        .keypoint--field-gung-summary-keypoint1,
        .keypoint--field-gung-summary-keypoint2,
        .keypoint--field-gung-summary-keypoint3 {
            padding: 0;
            margin: 0 30px 25px 30px;
            max-width: 300px;
            height: 52px;
            font-size: 22px;
        }
        .keypoint--field-gung-summary-argument1,
        .keypoint--field-gung-summary-argument2,
        .keypoint--field-gung-summary-argument3 {
            font-weight: 600;
            font: $base-font-size "Proxima Nova", Arial, sans-serif;
            line-height: 24px;
            vertical-align: top;
            margin: 0 30px;
            padding: 0;
            max-width: 300px;
            p {
                margin: 0;
                padding: 0;
            }
        }
        .keypoint:nth-of-type(2n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border, 20%);
            order: 1;
        }
        .keypoint:nth-of-type(1n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border, 20%);
            order: 2;
        }
        // if primary background color is selected for frame
        .paragraph--type--gung-summary-pgtype.primary {
            .keypoint:nth-of-type(2n+2) {
                border-left: 1px solid lighten($summary-frame-keypt-border-primary, 20%);
            }
            .keypoint:nth-of-type(1n+2) {
                border-left: 1px solid lighten($summary-frame-keypt-border-primary, 20%);
            }
        }
    }
    // if monochrome light background color is selected for frame
    .paragraph--type--gung-summary-pgtype.monochrome {
        .keypoint:nth-of-type(2n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border-monochrome, 20%);
        }
        .keypoint:nth-of-type(1n+2) {
            border-left: 1px solid lighten($summary-frame-keypt-border-monochrome, 20%);
        }
    }
}