// Quick Links
//
// Quick Links styling
//
// Markup: quick_links.hbs
//
// Style guide: components.quick_links
// color variables
$ql-frame-bkgd-color: $color-secondary !default;
$ql-frame-title-color: $color-mono-black !default;
$ql-frame-headline-color: $color-mono-white !default;
$ql-frame-descriptor-title-color: $color-mono-white !default;
$ql-frame-descriptor-text-color: $color-mono-black !default;
$ql-frame-descriptor-border: $color-secondary !default;
$ql-frame-button: $color-mono-white !default;
// REASSIGNED VALS FOR GLOBAL SCOPE -- SUMMARY
// this overrides general button variables in config.scss
$ql-button-border-color: $button-border-color !default;
$ql-button-text-color: $button-text-color !default;
$ql-button-back-color: $button-bkgd-transparent !default;
$ql-button-hover-back-color: $button-black-50 !default;
// ######################################################################### //

/* START STYLING MOBILE FIRST UNDER HERE */

.paragraph {
    display: block;
}

.paragraph--type--gung-ql-pgtype {
    /*background-color: $ql-frame-bkgd-color;*/
    //margin: 0 auto;
    //text-align: center;
    padding: $frame-padding-lg 3%;
    // width: 100%;
    //min-height: 450px\9;
}

.qlframe-inner {
    max-width: $max-pc;
    margin: 0 auto;
    overflow: auto;
}

.ql-col-group {
    margin-top: 30px;
}

.ql--group-1-items,
.ql--group-2-items {
    margin-top: 5px;
}

.ql--group-1 {
    display: block;
    width: 95%;
    padding: 0 1%;
    overflow: auto;
    vertical-align: top;
    text-align: center;
}

.ql--group-2 {
    display: block;
    width: 95%;
    padding: 0 1%;
    overflow: auto;
    vertical-align: top;
    text-align: center;
}

.ql--field-gung-ql-title {
    font: $frame-title;
    color: $ql-frame-title-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ql--field-gung-ql-headline {
    font: $frame-headline;
    color: $color-primary;
    text-align: center;
    line-height: 3rem;
}

.ql--field-gung-ql-col-1-title {
    //font-family: 'ProximaNovaBold';
    font-weight: 700;
    color: $color-secondary;
    font-size: 24px;
    padding: 25px 0;
    text-align: left;
}

.ql--field-gung-ql-col-2-title {
    //font-family: 'ProximaNovaBold';
    font-weight: 700;
    color: $color-secondary;
    font-size: 24px;
    padding: 25px 0;
    text-align: left;
}


/*
Quick Links Card
 */

.gung-quick-links {
    height: 110px;
    width: 100%;
    background-color: #F8FAFA;
    margin-bottom: 15px;
    .gung-quick-links-image {
        float: left;
        padding: 4px;
        border: solid thin #E4E4E4;
        margin-right: 16px;
        width: 100px;
        height: 100px;
        .fallback-image svg {
            background-color: $color-secondary;
            stroke: $color-mono-white;
            fill: $color-mono-white;
            padding: 20px;
            width: 60px;
            height: 60px;
            .st0 {
                stroke: $color-mono-white;
            }
        }
        img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .gung-quick-links-card-text {
        .gung-quick-links-title {
            text-align: left;
            padding-top: 10px;
            a {
                //font-family: ProximaNovaSemibold;
                font-weight: 600;
                color: #0F739D;
                font-size: 18px;
            }
        }
        .gung-quick-links-description {
            display: none;
        }
    }
}

.ql--field-gung-ql-col-1-button {
    text-align: right;
    a {
        //font-family: ProximaNovaBold;
        font-weight: 700;
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    a::after {
        content: " >";
    }
}

.ql--field-gung-ql-col-2-button {
    text-align: right;
    a {
        //font-family: ProximaNovaBold;
        font-weight: 700;
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    a::after {
        content: " >";
    }
}

.descriptor--field-gung-tbd-cta1,
.descriptor--field-gung-tbd-cta2 {
    a {
        // BUTTON DYNAMIC REQUIREMENTS
        border: $frame-button-border-size solid $tbd-button-border-color;
        color: $tbd-button-text-color;
        background-color: $tbd-button-back-color;
        &:visited,
        &:link {
            color: $tbd-button-text-color;
        }
        &:hover {
            background-color: $tbd-button-hover-back-color;
            text-decoration: none;
        }
    }
    clear: both;
    // BUTTON CALLS
    @include frame-button-base();
}

// ######################################################################### //

/* TABLET VIEW */

@media (min-width: $min-tablet) {
    .ql-col-group {
        display: flex;
        flex-flow: row nowrap;
        .ql--group-1,
        .ql--group-2 {
            display: flex;
            flex-flow: column nowrap;
        }
        .ql--group-1-items,
        .ql--group-2-items {
            flex: 5 0 auto;
        }
        .ql--field-gung-ql-col-1-button,
        .ql--field-gung-ql-col-2-button {
            align-self: flex-end;
        }
    }
    .ql--field-gung-ql-col-1-button,
    .ql--field-gung-ql-col-2-button {
        float: right;
        padding: 9px 0;
        width: 198px;
        border: solid thin #d9e2e2;
        margin-top: 65px;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
        a:hover {
            text-decoration: none;
        }
        a::after {
            content: "";
        }
    }
    .qlcol1-title {
        .ql--group-2 {
            padding-top: 77px;
        }
    }
    .qlcol2-title {
        .ql--group-1 {
            padding-top: 77px;
        }
    }
} // END MIN TABLET VIEW
// ######################################################################### //

/* PC VIEW */

@media (min-width: $min-desktop) {
    .gung-quick-links-description {
        display: block !important;
        text-align: left;
        //font-family: ProximaNovaRegular;
        font-weight: normal;
        font-size: 16px;
        color: #000;
        height: 2.4em;
        line-height: 1.2em;
    }
} // END PC VIEW
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    /* IE10-specific styles go here */
    @media (min-width: $min-tab) {}
    // END TABLET VIEW
    @media (min-width: $min-pc) {}
    // END PC VIEW
} // END IE10