.gung-block-search-form {
    position: relative;
    margin-top: -59px;
    float: right; // width: 280px;
    width: 245px;
    background-color: transparent;
    /* border: solid 3px #ff7347; */
    font-size: 16px;
    text-align: center;
    /* right: 10px; */
    z-index: 505;
    margin-right: 5px;
    form label {
        display: none;
    }
    .form-actions {
        display: none;
    }
    input[type="search"],
    input[type="search"]:focus,
    input[type="text"],
    input[type="text"]:focus {
        font-size: 100%;
        font-weight: 600;
        color: #fff;
        margin: 0;
        padding: 1rem 1rem 1rem 2.5rem;
        height: 2.4rem;
        width: 100%;
        border: 2px solid #fff;
        border-radius: 30px;
        background: url(../icons/gung/search_white.svg) bottom left no-repeat;
        background-color: #0a4c53;
        background-size: 24px 24px;
        background-position: 12px 10px;
    }
    #views-exposed-form-acquia-search-page {
        label {
            display: none;
        }
    }
}

.layout-container main {
    clear: both;
    #views-exposed-form-gung-site-search-page-1 {
        margin-bottom: 30px;
        #edit-search {
            margin-bottom: 15px;
        }
    }
}


/*******  Acqyua Solr Searh Result ******/

.search-result {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    clear: both;
    width: 100%;
    .body-area {
        min-height: 30px;
        .body-area-in {
            margin: 0;
            .page-body {
                width: 99%;
            }
            .page-body>div {
                margin: 5px;
            }
        }
    }
    a,
    a:link,
    .gung-teaser-title a {
        color: #08464c;
    } // a.more-link {
    //   color: #007AC2;
    // }
    a:hover {
        color: rgb(67, 67, 192);
    }
    h2 {
        font-size: 24px;
    }
    .page-body {
        h1,
        h2 h3,
        h4,
        h5,
        h6 {
            font-size: 16px;
        }
    }
    .gung-teaser-image {
        height: auto;
        .list-fallback-img svg {
            padding: 5px;
        }
    }
    article {
        img,
        svg {
            // max-width: 180px;
            width: 180px;
            height: 120px;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .more-link,
        .node-readmor {
            display: none;
        }
        footer {
            display: none;
        }
        .gung-teaser-wrapper ul.links {
            display: none;
        }
    }
    .gung-page-header-category {
        width: auto;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        height: auto;
        background-color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
}

.pager .pager__items {
    a {
        font-size: 18px;
        margin-top: 3px;
        display: inline-block;
    }
}

#search-mobile-icon {
    img {
        width: 0;
        height: 0;
    }
    @media screen and (max-width: 1023px) {
        img {
            width: 30px;
            height: 30px;
        }
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 20px;
        margin-top: -52px;
        z-index: 500;
    }
}

.gung_site_search {
    .views-exposed-form {
        width: 100%;
        clear: both;
        label {}
    }
}

a.gung-search-link {
    font-size: 1em;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 17px;
    background: #09464c;
}

.fourox_secone .fourox_warning::before {
    font-size: 38px;
}