.gung-teaser {
    //width: 75%;
    //margin: 20px;
    //width: 90%;
    margin: 20px auto;
    border: 1px solid $color-mono-mid;
    font-family: 'Proxima Nova', Arial, sans-serif;
    .gung-card-teaser {
        height: 73px;
        line-height: 18px;
        @include breakpoint($min-tablet) {
            height: 100px;
        }
    }
    &-wrapper {
        display: flex;
    }
    .layout-container ul li {
        margin: 9px 0 !important;
        padding: 0;
    }
    &-image {
        display: none;
        @include breakpoint($min-desktop) {
            display: block;
            float: left;
            height: 240px;
            padding-right: 20px; //has needed padding
            svg {
                width: 202px;
                height: 202px;
                background-color: $color-secondary;
                fill: $color-mono-white;
                padding: 20px;
            }
            .list-fallback-img svg {
                padding: 70px;
                width: 102px;
                height: 102px;
            }
            img {
                max-width: none;
            }
            .st0,
            .st1 {
                stroke: $color-mono-white;
            }
        }
    }
    &-content-wrapper {
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        &__details {
            //display: flex;
            padding: 10px 15px 0;
            @include breakpoint($min-tablet) {
                //has needed padding
                padding: 20px 15px 0; //has needed padding
            }
            @include breakpoint($min-desktop) {
                height: 167px;
                //box-sizing: border-box;
            }
            @include breakpoint($min-desktop) {
                padding: 20px 25px 0;
            }
        }
        &__details-left {
            padding-top: 10px; //has needed padding
            @include breakpoint($min-tablet) {
                flex-basis: 60%;
                padding-top: 20px; //has needed padding
                border-right: 1px solid $color-mono-mid;
                margin-right: 15px;
            }
            @include breakpoint($min-desktop) {
                margin-right: 15px;
                flex-basis: 50%;
            }
            @include breakpoint($min-wide) {
                flex-basis: 50%;
            }
        }
        &__details-right {
            //padding-top: 12px;
            @include breakpoint($min-tablet) {
                padding-top: 0px;
                //flex-basis: 40%;
                width: 100%;
            }
        }
        @include breakpoint($min-mobile) {
            font-size: 16px;
        }
        @include breakpoint($min-tablet) {
            font-size: 14px;
        }
        @include breakpoint($min-desktop) {
            font-size: 16px;
        }
    }
    &__events {
        max-height: 382px;
        height: 382px;
        .description {
            display: none;
        }
        @include breakpoint($min-tablet) {
            height: 240px;
        }
        .gung-teaser-content-wrapper__details {
            padding: 0 15px;
            height: 329px;
            @include breakpoint($min-tablet) {
                height: 188px;
                display: flex;
            }
            @include breakpoint($min-desktop) {
                padding: 0 15px 0 0; //has needed padding
            }
        }
    }
    &-filter-terms {
        position: relative;
        font-size: 14px;
        line-height: 14px;
        padding-top: 5px;
        @include breakpoint($min-tablet) {
            padding-top: 0;
            font-size: 16px;
            line-height: 16px;
        }
        @include breakpoint($min-desktop) {
            font-size: 14px;
        }
    }
    &-filter-term-border {
        width: 60px;
        border-bottom: 1px solid $color-mono-mid;
        display: inline-block;
        margin: 13px 0 2px 0;
    }
    span {
        &-filter-term-border {
            margin: 9px 0;
        }
    }
    &-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 18px;
        line-height: 21px;
        a {
            color: $color-secondary;
        }
        //@include breakpoint($min-mobile) {
        //  margin-bottom: 10px;
        //  line-height: 27px;
        //}
        @include breakpoint($min-tablet) {
            font-size: 20px;
            line-height: 24px;
            padding-right: 15px;
        }
        @include breakpoint($min-desktop) {
            font-size: 18px;
            line-height: 21px;
        }
    }
    .description {
        line-height: 1.1;
        height: 100px;
    }
    .event-date__wrapper {
        display: flex;
        flex-direction: column;
        //@include breakpoint($min-wide) {
        // width: 71%;
        //}
    }
    .event-date {
        @include event-date;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .day div,
        .month div,
        .event-year div {
            margin: auto;
        }
        .month {
            padding-bottom: 3px !important;
        }
        .day {
            padding-bottom: 0px !important;
        }
        .address-wrapper {
            /*height: 48px;*/
            overflow: hidden;
            @include breakpoint($min-tablet) {
                padding: 5px 0 0 0 !important;
                /*height: 32px;*/
                overflow: hidden;
            }
            @include breakpoint($min-tablet) {
                padding: 15px 0 0 0 !important;
            }
        }
        @include breakpoint($min-wide) {
            flex-direction: column;
        }
        .day-month-wrapper {
            padding-bottom: 10px;
            justify-content: center;
            width: 150px;
            @include breakpoint($min-tablet) {
                width: 150px;
                margin: auto;
                padding-top: 10px;
                padding-bottom: 5px;
            }
            @include breakpoint($min-desktop) {
                padding: 8px 0 0px 0;
                width: 150px;
                margin: auto;
            }
            // @include breakpoint($min-wide) {
            //   padding-bottom: 20px;
            //}
        }
        .time {
            color: $color-mono-black;
            //padding-left: 20px;
            &::before {
                width: 13px;
                padding-right: 5px;
            }
            @include breakpoint($min-desktop) {
                font-weight: 600;
            }
            @include breakpoint($min-wide) {
                padding: 0;
            }
        }
        .address {
            color: $color-mono-black;
            padding-left: 0 !important;
            &-wrapper {
                padding-top: 10px;
                font-size: 13px;
                line-height: 16px;
                &::before {}
                .event-address {
                    padding-left: 23px;
                }
                @include breakpoint($min-tablet) {
                    padding: 5px 20px;
                }
                @include breakpoint($min-desktop) {
                    padding: 5px 15px;
                }
                // @include breakpoint($min-wide) {
                //  margin-top: 20px;
                //  padding-top: 20px;
                //  padding-left: 0;
                // }
            }
        }
    }
    .day-month-wrapper {
        width: 100%;
        @include breakpoint($min-wide) {
            width: 24%;
        }
    }
    .month {
        text-align: center;
        display: flex;
        justify-content: row;
    }
    .day {
        text-align: center;
        display: flex;
        justify-content: row;
    }
    .event-year {
        text-align: center;
        display: flex;
        justify-content: row;
        font-size: 13px !important;
        .start-event-year,
        .end-event-year {
            font-size: 13px !important;
        }
    }
    //took from _event_date.scss to overwrite default behavior to use on teaser pages
    .multi-day {
        .day div,
        .month div,
        .event-year div,
        .start div {
            float: left;
            width: 45px !important;
            &.dash {
                //width: 20px !important;
                padding: 0 0 0 5px;
                font-size: 20px;
            }
        }
    }
    .meridiem {
        font-size: 12px;
        text-transform: lowercase;
    }
    .address-wrapper {
        @include breakpoint($min-desktop) {
            padding-left: 20px;
            //display: flex;
            flex-direction: column;
        }
        @include breakpoint($min-wide) {
            padding: 0;
        }
        .venue-name {
            font-size: 13px;
            line-height: 16px;
            //padding-left: 23px;
            padding-left: 0 !important;
        }
        .venue-name>div {
            color: #000;
            @include breakpoint($min-tablet) {
                height: 16px;
                overflow: hidden;
            }
        }
        .city-state-zip {
            display: inline;
            @include breakpoint($min-wide) {
                display: inline;
            }
        }
        .separator {
            margin-left: -4px;
        }
    }
    .links,
    .actions {
        list-style: none;
        padding: 8px 31px;
        margin: 1px 0 -1px 0;
        background-color: $color-mono-lt;
        border: 1px solid $color-mono-mid;
        border-left: 0;
        border-right: 0;
        @include breakpoint($min-tablet) {
            padding: 8px 23px;
        }
    }
    .links a {
        position: relative;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 13px;
        color: black;
        letter-spacing: 1px;
        &::before {
            content: '\f054';
            font-family: 'icomoon';
            color: $color-accent-primary;
            position: relative;
            left: -18px;
            //line-height: 13px;
            //margin: 6px 0;
            //margin-top: 6px;
            @include breakpoint($min-tablet) {
                left: -8px;
            }
        }
    }
}