// Two Button Descriptor
//
// Two Button Descriptor styling
//
// Markup: two_button_descriptor.hbs
//
// Style guide: components.two_button_descriptor
// color variables (default-secondary)
$tbd-frame-bkgd-color: $color-secondary !default;
$tbd-frame-title-color: $color-mono-black !default;
$tbd-frame-headline-color: $color-mono-white !default;
$tbd-frame-descriptor-title-color: $color-mono-white !default;
$tbd-frame-descriptor-text-color: $color-mono-black !default;
$tbd-frame-descriptor-border: $color-mono-white !default;
$tbd-frame-button: $color-mono-white !default;
// color variables (primary)
$tbd-frame-bkgd-color-primary: $color-accent-primary !default;
$tbd-frame-title-color-primary: $color-mono-black !default;
$tbd-frame-headline-color-primary: $color-primary !default;
$tbd-frame-description-color-primary: $color-mono-black !default;
$tbd-frame-descriptor-border-primary: $color-mono-white !default;
// color variables (monochrome light)
$tbd-frame-bkgd-color-monochrome: $color-mono-lt !default;
$tbd-frame-title-color-monochrome: $color-mono-black !default;
$tbd-frame-headline-color-monochrome: $color-mono-black !default;
$tbd-frame-descriptor-title-color-monochrome: $color-primary !default;
$tbd-frame-descriptor-border-monochrome: $color-primary !default;
// REASSIGNED VALS FOR GLOBAL SCOPE -- SUMMARY
// this overrides general button variables in config.scss
$tbd-button-border-color: $button-border-color !default;
$tbd-button-text-color: $button-text-color !default;
$tbd-button-back-color: $button-bkgd-transparent !default;
$tbd-button-hover-back-color: $button-black-50 !default;
// Primary button colors
$tbd-button-border-color-primary: $color-mono-black !default;
$tbd-button-text-color-primary: $color-mono-black !default;
$tbd-button-back-color-primary: $button-bkgd-transparent !default;
$tbd-button-hover-back-color-primary: $button-white-50 !default;
// Monochrome button colors 
$tbd-button-border-color-monochrome: $color-primary !default;
$tbd-button-text-color-monochrome: $button-text-color !default;
$tbd-button-back-color-monochrome: $button-bkgd-color!default;
$tbd-button-hover-back-color-monochrome: $color-mono-black !default;
// ######################################################################### //

/* START STYLING MOBILE FIRST UNDER HERE */

.paragraph {
    display: block;
}

.paragraph--type--gung-tbd-pgtype {
    background-color: $tbd-frame-bkgd-color;
    //margin: 0 auto;
    //text-align: center;
    padding: $frame-padding-lg 3%;
    // width: 100%;
    min-height: 450px\9;
}

.tbdframe-inner {
    max-width: $max-pc;
    margin: 0 auto;
}

.descriptor {
    overflow: auto;
    vertical-align: top;
    text-align: center;
}

.descriptor-wrapper {}

.descriptor--field-gung-tbd-title {
    font: $frame-title;
    color: $tbd-frame-title-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.descriptor--field-gung-tbd-headline {
    font: $frame-headline;
    color: $tbd-frame-headline-color;
    text-align: center;
    line-height: 3rem;
}

.front .descriptor--field-gung-tbd-headline {
    font: $frame-headline-front;
}

.descriptor--field-gung-tbd-descriptortitle1,
.descriptor--field-gung-tbd-descriptortitle2 {
    font-family: $base-font;
    font-size: 1.222rem;
    font-weight: 800;
    color: $tbd-frame-descriptor-title-color;
    margin: 20px 0;
    padding-bottom: 30px;
}

.descriptor--field-gung-tbd-descriptortitle2 {
    padding-left: 30px;
}

.descriptor--field-gung-tbd-descriptor1,
.descriptor--field-gung-tbd-descriptor2 {
    font-family: $base-font;
    font-size: 0.7778rem;
    color: $tbd-frame-descriptor-text-color;
    padding: 0 16px;
    margin-bottom: 30px;
}

.descriptor--field-gung-tbd-descriptor1 p,
.descriptor--field-gung-tbd-descriptor2 p {
    text-align: center;
}

.descriptor--field-gung-tbd-cta1,
.descriptor--field-gung-tbd-cta2 {
    a {
        // BUTTON DYNAMIC REQUIREMENTS
        border: $frame-button-border-size solid $tbd-button-border-color;
        color: $tbd-button-text-color;
        background-color: $tbd-button-back-color;
        &:visited,
        &:link {
            color: $tbd-button-text-color;
        }
        &:hover {
            background-color: $tbd-button-hover-back-color;
            text-decoration: none;
        }
    }
    clear: both;
    // BUTTON CALLS
    @include frame-button-base();
}

// if primary background color is selected for frame
.paragraph--type--gung-tbd-pgtype.primary {
    background-color: $tbd-frame-bkgd-color-primary;
    .descriptor--field-gung-tbd-title {
        color: $tbd-frame-title-color-primary;
    }
    .descriptor--field-gung-tbd-headline {
        color: $tbd-frame-headline-color-primary;
    }
    .descriptor--field-gung-tbd-cta1,
    .descriptor--field-gung-tbd-cta2 {
        a {
            color: $tbd-button-text-color-primary;
            border: $frame-button-border-size solid $tbd-button-border-color-primary;
            &:hover {
                border-color: $tbd-button-border-color-primary;
                background-color: $tbd-button-hover-back-color-primary;
            }
        }
    }
}

// if monochrome light background color is selected for frame
.paragraph--type--gung-tbd-pgtype.monochrome {
    background-color: $tbd-frame-bkgd-color-monochrome;
    .descriptor--field-gung-tbd-title {
        color: $tbd-frame-title-color-monochrome;
    }
    .descriptor--field-gung-tbd-headline {
        color: $tbd-frame-headline-color-monochrome;
    }
    .descriptor--field-gung-tbd-descriptortitle1,
    .descriptor--field-gung-tbd-descriptortitle2 {
        color: $summary-frame-keypt-title-color-monochrome;
    }
    .descriptor--field-gung-tbd-cta1,
    .descriptor--field-gung-tbd-cta2 {
        a {
            color: $tbd-button-text-color-monochrome;
            background-color: $tbd-button-back-color-monochrome;
            border: $frame-button-border-size solid $tbd-button-border-color-monochrome;
            &:hover {
                background-color: $tbd-button-hover-back-color-monochrome;
                border-color: $tbd-button-border-color-monochrome;
            }
        }
    }
}

// ######################################################################### //

/* TABLET VIEW */

@media (min-width: $min-tablet) {
    .descriptors {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 50px 0 0 0;
        .descriptor {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            // margin-bottom: 30px;
            align-content: flex-end;
            float: left\9;
            width: 46%\9;
            overflow: hidden\9;
            &:nth-of-type(2n+2) {
                padding-left: 0;
            }
            .descriptor1-wrapper,
            .descriptor2-wrapper {
                margin-bottom: 50px;
                min-height: 120px;
                flex: 10;
            }
            //&:nth-of-type(2n+2)
            .descriptor2-wrapper {
                border-left: 1px solid lighten($tbd-frame-descriptor-border, 20%);
                border-top: 0;
                padding-left: 20px;
            }
            .descriptor1-wrapper {
                padding-right: 20px;
            }
            .descriptor--field-gung-tbd-descriptortitle1,
            .descriptor--field-gung-tbd-descriptortitle2 {
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 0;
            }
            .descriptor--field-gung-tbd-descriptor1,
            .descriptor--field-gung-tbd-descriptor2 {
                flex: 5; // used 5 to handle very large descriptors
                font-family: $base-font;
                font-size: 0.7778rem;
                font-weight: 800;
                margin-bottom: 0;
                p {
                    margin-bottom: 50px;
                }
            }
            .descriptor--field-gung-tbd-descriptor2 {
                // margin-left: 30px;
                // padding-left: 0;
            }
            .descriptor--field-gung-tbd-cta1,
            .descriptor--field-gung-tbd-cta2 {
                flex: 1;
                a {
                    min-width: 100px;
                }
            }
        } // END descriptor
    } // END descriptors
    // MONOCHROME OVERRIDE
    .monochrome {
        .descriptors {
            .descriptor2-wrapper {
                border-left: 1px solid $tbd-frame-descriptor-border-monochrome;
            }
        }
    } // END MONOCHROME
} // END MIN TABLET VIEW
// ######################################################################### //

/* PC VIEW */

@media (min-width: $min-pc) {
    .descriptors {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 50px 0 0 0;
        .descriptor {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            align-content: flex-end;
            display: inline-block\9;
            float: left\9;
            width: 46%\9;
            overflow: hidden\9;
            .descriptor1-wrapper,
            .descriptor2-wrapper {
                flex: 12; // used 12 to handle very large descriptors
                min-height: 120px;
            }
            .descriptor--field-gung-tbd-descriptortitle1,
            .descriptor--field-gung-tbd-descriptortitle2 {}
            .descriptor--field-gung-tbd-descriptor1,
            .descriptor--field-gung-tbd-descriptor2 {
                // flex: 5; // used 5 to handle very large descriptors
                font-size: $base-font-size;
                font-weight: $frame-base-semi-bold;
                line-height: 24px;
            }
            .descriptor--field-gung-tbd-cta1,
            .descriptor--field-gung-tbd-cta2 {
                flex: 1;
                margin: 0 20px;
                a {
                    min-width: 175px;
                }
            }
            .descriptor-wrapper {
                border-left: 1px solid lighten($tbd-frame-descriptor-border, 20%);
            }
            /* &:nth-of-type(2n+2) {
         border-left:1px solid lighten($tbd-frame-descriptor-border, 20%);
       }*/
        } // END descriptor
    } // END descriptors
    // if primary background color is selected for frame
    .paragraph--type--gung-tbd-pgtype.primary {
        .descriptor1-wrapper,
        .descriptor2-wrapper {
            &:nth-of-type(2n+2) {
                border-left: 1px solid lighten($tbd-frame-descriptor-border-primary, 20%);
            }
        }
    }
    .paragraph--type--gung-tbd-pgtype.monochrome {
        .descriptor1-wrapper,
        .descriptor2-wrapper {
            &:nth-of-type(2n+2) {
                border-left: 1px solid lighten($tbd-frame-descriptor-border-monochrome, 20%);
            }
        }
    }
} // END PC VIEW
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    /* IE10-specific styles go here */
    @media (min-width: $min-tab) {
        .descriptors {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 50px 0 0 0;
            .descriptor {
                display: inline-block;
                margin: 0 auto;
                overflow: visible; //keep ie 11 on windows 7 scrollbars away
            }
        }
    } // END TABLET VIEW
    @media (min-width: $min-pc) {
        .descriptors {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 50px 0 0 0;
            .descriptor {
                //display: inline-block;
                margin: 0 auto;
            }
        }
    } // END PC VIEW
} // END IE10
@media screen\0 {
    .paragraph--type--gung-tbd-pgtype &:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
} // clear for IE9