// What's Related Frame
//
// What's Related Frame frontend styling.
//
// Markup: whatsrelated.hbs
//
// Style guide: components.whatsrelated
// color variables
$whats-related-frame-bkgd-color: $color-mono-white !default;
$whats-related-frame-title-color: $color-mono-black !default;
$whats-related-frame-text-color: $color-mono-black !default;
$whats-related-link-color: $text-blue !default;
h3.gung-whats-related-title {
    font-family: $base-font;
    font-size: 0.888em;
    color: $whats-related-frame-title-color;
    font-weight: 500;
    border-bottom: 1px solid $color-mono-mid;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.gung_whats_related_pgtype>div:not(.next-section) {
    width: 75%;
}

.gung_whats_related_pgtype>div:not(.next-section) a {
    display: inline-block;
    width: 100%;
    background-color: $color-mono-lt;
    padding: 25px 30px;
    margin-bottom: 10px;
}

// ######################################################################### //

/* TABLET VIEW */

@media (min-width: $min-tab) {}

// END MIN TABLET VIEW
// ######################################################################### //

/* PC VIEW */

@media (min-width: $min-pc) {}

// END MIN PC VIEW