<div class="actions">
  <div class="gung-action-bar">
    <div class="gung-action-top"><a href="#top">TOP<span class="icon-arrow-up"></span></a></div>
    <div class="gung-action-label">{{ node.label }}</div>
    <div class="gung-share">
      <div class="gung-action-share-label">SHARE</div>
      <div class="gung-action-share-button">
        <a href="mailto:?Subject={{ site_name }}: {{ node.label }}&Body={{ url('<current>') }}"><span class="icon-email"></span></a>
      </div>
      <div class="gung-action-share-button">
        <a href="http://www.facebook.com/share.php?u={{ url('<current>') }}" target="_blank"><span class="icon-facebook"></span></a>
      </div>
      <div class="gung-action-share-button">
        <a href="https://twitter.com/intent/tweet?text={{ node.label }}&url={{ url('<current>') }}" target="_blank"><span class="icon-twitter"></span></a>
      </div>
    </div>
  </div>
</div>
