{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{# {{ attach_library('gung_d8_theme/left-menu-js') }} #}

<div class="complaint-sidebar sidebar sticky" id="sticky-leftmenu">
  {{ menus.menu_links(items, attributes, 0) }}
  {# {{ kint(menus) }} #}
  {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {%
      set menu_classes = [
        'ul-complaint-sidebar'|clean_class,
        'menu'|clean_class,
        'consumers-sidebar'|clean_class
      ]
    %}
    {% if items %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass(menu_classes) }}>

        {% else %}
          <ul>
          {% endif %}
          {% for item in items %}
            {% set classes = ["leaf"] %}

            {% if item.below %}
              {% set classes = classes | merge(["parent"]) %}
              {% if item.is_expanded %}
                {% set classes = classes | merge(["is_expanded"]) %} 
              {% endif %}
              <li class="{{ classes|join(" ") }}" {{ item.attributes }}>
                <a class="toggler" href="{{ item.url }}">
                  {{ item.title }}
                  <img class="expand down-up-arrow" alt="{{ item.title }}"src="/profiles/custom/gung/themes/custom/gung_d8_theme/icons/gung/arrowdown-teal.svg">
                </a>
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </li>
            {% else %}
              <li class="{{ classes|join(" ") }}" {{ item.attributes }}>
                {{ link(item.title, item.url) }}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      {% endif %}
    {% endmacro %}

  </div>