// baseline html and body
html,
body {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: $base-font-size;
    // max-width: 2100px;
}

body {
    font-family: $base-font;
    line-height: $base-line-height;
    p {
        margin: 3px 0 10px;
    }
    hr {
        margin: 40px 0;
    }
    table {
        margin: 0 0 1em;
    }
    .menu-item {
        padding-top: 0;
        margin: 0;
    }
    .mq--t {
        background: #fff;
        @include opac-color(255, 255, 255, .9);
    }
}

.gung-logo {
    display: none;
}

// using paragraphs to create frames - universal styling for these
.landing-paragraphs>div>div>div {
    padding: 40px 0;
}

.page-paragraphs-in>div>div:nth-of-type(1) {
    padding: 80px 0 40px 0;
}

// Base Headings
//
// Styling for agency name in header, see global nav footer styling for styling of agency name there
//
// Markup: headlines.hbs
//
// Style guide: base.headline
.agency-name {
    font-family: $agency-name-font;
    font-size: 125%;
    background: $color-primary;
    line-height: 150%;
    padding: .25rem 0 0 0;
    a:link,
    a:link:hover,
    a:hover,
    a:active,
    a:focus,
    a:visited,
    a:visited:hover {
        color: $color-mono-white;
        text-decoration: none;
        padding: 0 0 0 45px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary;
    font-weight: bold;
    /* changed from 800 */
    padding: 0 0 .3em;
    margin: 0;
    line-height: 1.25em;
}

h1 {
    font-size: 40px;
    //line-height: 165%;
}

h2 {
    font-size: 40px;
    //line-height: 145%;
}

h3 {
    font-size: 32px;
    //line-height: 145%;
}

h4 {
    font-size: 30px;
    //line-height: 145%;
}

h5 {
    font-size: 24px;
    //line-height: 145%;
}

h6 {
    font-size: 18px;
    //line-height: 145%;
}

// Base Text
//
// Markup: text.hbs
//
// Style guide: base.text
a,
a:link,
a:visited {
    text-decoration: none;
    color: $text-blue;
    font-family: $base-font;
    &:hover {
        text-decoration: underline;
    }
}

// Blockquote
//
// Markup: blockquote.hbs
//
// Style guide: base.blockquote
blockquote:before {
    color: $color-secondary;
    position: relative;
    top: 80px;
    opacity: 0.3;
    left: -20px;
    content: "\201C";
    font-size: 14em;
    line-height: 0.1em;
    margin-right: 0.2em;
    /* LTR */
    vertical-align: -0.4em;
}

[dir="rtl"] blockquote:before {
    content: "\201D";
    margin-left: 0.2em;
    margin-right: 0;
}

blockquote {
    padding: 0 15px;
    &:last-child {
        margin-bottom: 0;
    }
    p {
        font-size: 1.5em;
        color: $base-font-color;
        line-height: 1.5em;
    }
}

// Images
//
// Markup: images.hbs
//
// Style guide: base.images
.layout-container img {
    //width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
}

.page-paragraphs img,
.bar-top {
    border-top: 4px solid $color-secondary;
}

.bar-bottom {
    border-bottom: 4px solid $color-secondary;
}


/* can't currently get img classes to show in wysiwyg NDD-146 */

// List Types
//
// Markup: lists.hbs
//
// Style guide: base.lists
// need to make this more specific to the distro, conflicting with unav with straight li
.layout-container {
    // OL items
    ol {
        padding: 0 0 0 30px;
        margin: 0 0 1px;
        li {
            margin: 4px 0;
            padding: 0;
        }
    }
    ol ol {
        padding: 0 0 0 22.5px;
    }
    ol ol ol {
        padding: 0 0 0 22.5px;
    }
    // UL items
    ul {
        padding: 0 0 0 30px;
        margin: 0 0 1px;
        li {
            margin: 4px 0;
            padding: 0;
        }
    }
    ul ul {
        padding: 0 0 0 22.5px;
    }
    ul ul ul {
        padding: 0 0 0 22.5px;
    }
    //close wrapping layout-container
}