// Naviation Main Menu
// #block-mainnavigation,
// #block-gung-gulp-mainnavigation 
// nav[role="navigation"] 
nav #gung-main-nav-menu {
    max-width: $wide1920;
    height: 75px;
    background-color: #09464c; // #09464c
    // background-color: #263a02; // #09464c
}

.consumer-information {
    width: 163px;
}

// #block-mainnavigation>ul {}
ul.gung-main-menu {
    display: flex;
    align-items: center;
    padding: 26px;
    margin: 0 0 20px 0;
    height: 20px;
    font-family: serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
}

ul.gung-main-menu {
    li {
        list-style-type: none;
        padding: 10px 15px;
        &:hover,
        &:visited {
            // color: #e5eeee;
            background-color: #0f626a;
        }
        a {
            color: #ffffff;
            vertical-align: middle;
            text-decoration: none;
            &:hover {
                color: #e5eeee;
                text-decoration: none;
            }
            &:visited {
                text-decoration: none;
            }
        }
    }
    li.first {
        width: 179px;
        height: 53px;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.18;
        text-align: left;
        color: #ffffff;
        padding-top: 20px;
    }
    li.portal-login {
        width: 111px;
        height: 18px;
        border-radius: 60px;
        text-align: right;
        padding-right: 13px;
        margin: 0 12px;
        background: #f2a900 url('../icons/gung/portal.svg') bottom left no-repeat;
        background-size: 26px 25px;
        background-position: 6px 5px;
    }
    li.portal-login a {
        font-weight: bold;
        color: #000000;
    }
}

// div#nav-meta {
//   display: none;
// }
#complaints-img-header {
    margin: 0;
    background-image: '/sites/default/files/landing-banner/rawpixel-592444-unsplash.jpg';
    background-position: 0px 516px;
    background-size: 100%;
    .banner-title {
        padding: 97px 60px;
        width: 35%;
    }
    h2 {
        color: #09464c;
        font-size: 40px;
        padding: 18px;
        background-color: $hero-title-bgcolr;
        text-align: center;
    }
}

ul.gung-main-menu li.gung-search {
    width: 18%;
    height: 40px;
    margin-left: 5%;
    padding-left: 50px;
    border: solid 2px #b6c3c2;
    border-radius: 35px;
    box-sizing: border-box;
    background: url(../icons/gung/search_white.svg) bottom left no-repeat;
    background-size: 24px 24px;
    background-position: 14px 8px;
    fill: #dddddd;
    a {
        color: #79a0a2;
    }
}