{#
    USED SPECIFICALLY FOR THE GLOBAL NAVIGATION BLOCK IN THE HEADER REGION
    -- See region--header.twig.html for parent definition template
#}
{# {{ dump(agencyname) }} #}
{# {% if agencyname is null or agencyname is empty %}
    {% set agencyname = 'Gung Wang' %}
{% endif %}
  #}
{% if headerauto == 1 %}
    {% if unavsetting == '1' %}
        <nav id="gung-global-header" class="gung-global-header {{ headerformat }} alt-unav" aria-label="primary-site" >
    {% else %}
        <nav id="gung-global-header" class="gung-global-header {{ headerformat }}" aria-label="primary-site" >
    {% endif %}
        <div class="nav-toggle">
            <a href="#" role="button" id="gung-menu-control">Navigation menu</a>
        </div>
    {% if agencylogo is not null and agencylogo is not empty %}
        <div class="gung-global-logo"><a href="/"><img src="{{ agencylogo }}" alt="{{ agencyname|raw }}" /></a></div>
    {% else %}
        <h1><a href="/">{{ agencyname|raw }}</a></h1>
        
        {# <h1>    <a href="/">Gung Wang</a>    </h1> #}
    {% endif %}
    {{ globalNavBlock(headermenu) }}

<div id="search-mobile-icon" class="hidden">
  <a href="#">
    <img class="search-icon" src="/profiles/custom/gung/themes/custom/gung_d8_theme/icons/gung/search_white.svg" alt="mobile search icon"></a>
</div>

    </nav>
{% endif %}