div.kss-modifier__wrapper>* {
    width: 100%;
    position: relative
}

#kss-node .kss-section {
    max-width: none;
    overflow: hidden
}

.gung-card img {
    max-width: 100%;
    width: 100%
}

.visually-hidden {
    display: none
}

.demo-proxmia {
    font-family: "Proxima Nova", Arial, sans-serif
}

.demo-agency-name {
    font-family: "D Sari Bold", Arial, sans-serif
}

.demo-oswald {
    font-family: "Oswald", Arial, sans-serif
}

.swatch {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: .25rem
}

.swatch p {
    background: rgba(0, 0, 0, 0.5);
    color: #fff
}

.swatch-primaryblue {
    background-color: #24387E
}

.swatch-medblue {
    background-color: #128EC3
}

.swatch-ltblueaccent {
    background-color: #E8EDEE
}

.swatch-primarygold {
    background-color: #D5820D
}

.swatch-secondarygold {
    background-color: #F5A81C
}

.swatch-text-blue {
    background-color: #007AC2
}