{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}

{% if breadcrumb %}
  <nav id="gung-breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul>
    {% for item in breadcrumb %}

        {% if item.url %}

          {% if loop.index == 2 %}
            <li>
          <a href="{{ item.url }}"><img class="bread-arrow" 
          src="/{{ base_path ~ directory }}/icons/gung/breadcrumb-arrow.svg" 
          alt="breadcrumb left arrow"></img> &nbsp;Back to {{ item.text }}</a>
            </li>
          {% endif %}
        {% else %}
          {{ item.text }}
        {% endif %}

    {% endfor %}
    </ul>
  </nav>
{% endif %}
