{% if page.header %}
  <header role="banner">
    {{ page.header }}
  </header>
{% endif %}

<div class="layout-container">
  <div class="body-area">
    <div class="body-area-in">
      <div class="page-body">

        {# PAGE SUGGESTION ALGO -- FOUND IN gung_fourox CUSTOM MODULE #}
        {{ fouroxSuggestions() }}

        <div class="fourox_secone">
          <!-- <div class="fourox_nys"> <img src="/profiles/custom/gung/themes/custom/gung_d8_theme/images/40x/40x-nys.jpg" alt="Gung Wang." title="Gung Wang." /> </div> -->

          <div class="fourox_emsg">
            <span class="fourox_warning"></span>
            <!--<img src="/profiles/custom/gung/themes/custom/gung_d8_theme/images/40x/40x-warning.jpg" alt="Warning: Page/Document Not Found." title="Warning: Page/Document Not Found." />-->
            <h4>We're sorry, the page that you are looking for is not found.</h4>
          </div>
        </div>

        {% if getHasSuggestions() == 1 %}

          <!-- <h3>You were looking for this URL. </h3> {{ getUserURL() }} <br /><br /> -->
          <div class="fourox_suggestions">
            <h5>This document may have moved. Please try this URL.</h5>
            <p>
              <a href="{{ getSuggestionURL() }}">
                {{ getSuggestionURLFull() }}
              </a>
              <a href="{{ getSuggestionURL() }}">
                <span></span></a>
            </p>
          </div>

        {% else %}

          <div class="fourox_reco">
            <p>This may be because:</p>

            <ul>
              <li>There is an error in the URL you have entered. Please double check that the URL is spelled correctly.</li>
              <li>The page you are looking for may have been moved or deleted.</li>
            </ul>

          </div>

        {% endif %}

        <div class="fourox_reco">
          <!-- <p>Use the Gung Wang search to find information: <a target="_blank" href="http://gungwang.com/search">http://gungwang.com/search</a></p> -->
          <p>For help finding what you are looking for:</p>

          <div class="fourox_reco_pages">
            <p>
              <a class="gung-search-link" href="/search/site?search=">Search Gung D8 Website</a>
            </p>
            <p>
              Go to this site's
              <a href="/">homepage
              </a>
              <a href="/">
                <span></span>
              </a>
            </p>

            Search Gung Wang Website:
            <a target="_blank" href="{{ getDomainSearchURL() }}">http://gungwang.com/search
            </a>
            <a target="_blank" href="{{ getDomainSearchURL() }}">
              <span></span></a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
