{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{# {% if content %}
  <div{{ attributes.addClass('nys-global-footer') }}>
    {{ content }}
  </div>
{% endif %} #}

{# Brian's code below #}
{% if content %}
  <div class="gung-after-region-container" {{ attributes.addClass('nys-global-footer') }}>
    <div class="gung-after-region-inner-container">
      {{ content }}
    </div>
  </div>
{% endif %}
